.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

.section.header {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 5;
  width: 100%;
  padding: 3vw;
}

.section.body.outer-space {
  padding: 3vw;
}

.section.body.hero {
  display: none;
  height: 100vh;
  padding: 9vw 3vw 3vw;
}

.section.body.hero-2 {
  padding-top: 10vw;
}

.grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid._2-up {
  overflow: hidden;
  padding: 5vw 3vw;
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
}

.grid._2-up.intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 10vw;
  padding-bottom: 10vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-transform: perspective(2000px);
  transform: perspective(2000px);
}

.grid._2-up.slim {
  position: relative;
  padding-top: 0vw;
  padding-bottom: 0vw;
}

.grid._2-up.tall {
  padding-bottom: 10vw;
}

.grid._3-up {
  padding: 3vw;
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.heading {
  font-family: Helveticaneue, sans-serif;
  font-size: 6vw;
  line-height: 4vw;
  font-weight: 500;
  text-transform: lowercase;
}

.heading.black {
  line-height: 83%;
}

.heading.black.medium {
  margin-bottom: 0px;
  color: #000;
  font-size: 2vw;
  line-height: 3vw;
  text-decoration: none;
}

.heading.black.medium.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: none;
}

.heading.black.medium.link:hover {
  position: relative;
}

.heading.black.medium.link.left {
  position: relative;
  margin-left: 0px;
}

.heading.black.medium.link.white {
  margin-left: auto;
  color: #fff;
}

.heading.black.medium.body {
  margin-top: auto;
}

.heading.black.numbers {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.heading.white {
  color: #fff;
  line-height: 90%;
}

.heading.white.numbers {
  position: relative;
  color: #fff;
}

.heading.white.numbers.black {
  color: #000;
}

.heading.small {
  font-size: 1.5vw;
  line-height: 2.5vw;
  font-weight: 400;
}

.body {
  font-size: 1vw;
  line-height: 2vw;
}

.body.black {
  margin-top: 10px;
  margin-bottom: auto;
  color: #000;
  font-size: 1.5vw;
  line-height: 2.5vw;
}

.body.white {
  color: #fff;
  font-size: 1.5vw;
  line-height: 2.5vw;
}

.grid-vertical {
  grid-column-gap: 0px;
  grid-row-gap: 1vw;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.grid-vertical.intro {
  background-color: #000;
}

.grid-vertical.numbers-grid {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 471px;
  perspective: 471px;
  -webkit-perspective-origin: 100% 50%;
  perspective-origin: 100% 50%;
  -webkit-transform: perspective(647px);
  transform: perspective(647px);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.grid-vertical.text-block {
  grid-row-gap: 3vw;
}

.mask {
  position: relative;
  z-index: 4;
  overflow: hidden;
  height: 100%;
  margin-top: 0px;
  padding-bottom: 0vw;
}

.mask.right-nav {
  z-index: 7;
}

.mask.numbers-mask {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  padding-top: 0vh;
  padding-right: 0vw;
}

.mask.numbers-mask.hero-number {
  display: none;
  margin-left: 3vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.mask.skew {
  padding-bottom: 0vw;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-transform: perspective(98px) perspective(431px);
  transform: perspective(98px) perspective(431px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.video {
  overflow: hidden;
  padding: 3vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.image {
  position: relative;
  display: block;
  padding: 3vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid-3 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-nav {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.load-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transform: translate(-70vw, 0px);
  -ms-transform: translate(-70vw, 0px);
  transform: translate(-70vw, 0px);
  line-height: 3vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.load-block.white-block {
  z-index: 1;
  background-color: #fff;
  -webkit-transform: translate(-70vw, 0px);
  -ms-transform: translate(-70vw, 0px);
  transform: translate(-70vw, 0px);
}

.load-block.black {
  background-color: #bbb;
}

.load-block.full {
  width: 100vh;
  height: 100vh;
}

.cursor-dot {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 3vw;
  height: 3vw;
  border-style: none;
  border-width: 0.5vw;
  border-color: #fff;
  border-radius: 50%;
  background-color: #0706ff;
  box-shadow: none;
}

.cursor-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cursor-circle {
  position: absolute;
  display: none;
  width: 40px;
  height: 40px;
  border: 3px solid #2525ff;
  border-radius: 50%;
}

.body-2 {
  cursor: none;
}

.body-3 {
  cursor: none;
}

.link-wrap {
  position: relative;
  overflow: hidden;
  height: 3vw;
  float: left;
}

.link-wrap.fixed {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-right: 2vw;
  margin-bottom: 1vw;
}

.loader-wrap {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 6;
  display: none;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #fff;
}

.image-2 {
  position: relative;
  width: 20vw;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.scroll-bar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 5;
  width: 0vw;
  height: 1vw;
  background-color: #0706ff;
}

.inline-link {
  color: #fff;
}

@media screen and (min-width: 1440px) {
  .section.body.hero {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .section.body.big-grid {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .grid._2-up {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .grid._2-up.intro {
    padding-right: 3vw;
    padding-left: 3vw;
  }

  .grid._2-up.slim {
    padding: 0vw;
  }

  .heading.black.medium.body {
    margin-bottom: 2vw;
  }

  .mask.numbers-mask {
    padding-right: 0vw;
  }

  .video {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .image {
    padding: 3vw 10vw;
  }

  .cursor-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1920px) {
  .grid._2-up.intro {
    padding-top: 5vw;
    padding-bottom: 5vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid._2-up.slim {
    padding: 0vw;
  }

  .heading.black.numbers {
    font-size: 9vh;
    line-height: 9vh;
  }

  .image {
    padding: 3vw 10vw;
  }
}

@media screen and (max-width: 991px) {
  .video {
    position: relative;
    z-index: 11;
    cursor: none;
  }

  .image {
    width: 100%;
    padding: 3vw;
  }

  .cursor-dot {
    width: 3vw;
    height: 3vw;
  }

  .cursor-wrapper {
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .section.body.hero {
    height: 100%;
    padding-top: 10vw;
  }

  .grid._2-up {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .grid._2-up.intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .heading.black {
    font-size: 30px;
    line-height: 36px;
  }

  .heading.black.medium.link {
    font-size: 16px;
    line-height: 30px;
  }

  .heading.black.medium.logo {
    font-size: 16px;
    line-height: 30px;
  }

  .heading.black.medium.body {
    margin-bottom: 0vw;
    font-size: 20px;
    line-height: 26px;
  }

  .heading.black.numbers {
    width: 100%;
    font-size: 36px;
    line-height: 46px;
  }

  .heading.white {
    font-size: 36px;
    line-height: 36px;
  }

  .heading.numbers.white {
    width: 100%;
    line-height: 40px;
  }

  .heading.small {
    font-size: 14px;
    line-height: 24px;
  }

  .body.black {
    font-size: 16px;
    line-height: 24px;
  }

  .body.white {
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .grid-vertical.numbers-grid {
    width: 100%;
  }

  .mask {
    height: auto;
  }

  .mask.numbers-mask {
    width: 100%;
  }

  .mask.numbers-mask.hero-number {
    width: 100%;
    margin-left: 0vw;
  }

  .thumbnail {
    width: 100%;
  }

  .load-block.black {
    -webkit-transform: translate(-100vw, 0px);
    -ms-transform: translate(-100vw, 0px);
    transform: translate(-100vw, 0px);
  }

  .cursor-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .body-3 {
    cursor: none;
  }

  .link-wrap {
    height: 5vw;
  }

  .image-2 {
    width: 60vw;
  }

  .scroll-bar {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .section.header {
    position: relative;
    padding: 6vw;
  }

  .section.body.hero {
    height: 100%;
    padding: 0vw;
  }

  .grid._2-up {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10vw 6vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .grid._2-up.intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 6vw;
    background-color: transparent;
  }

  .grid._2-up.slim {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 6vw;
    grid-row-gap: 6vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .heading.black {
    font-size: 30px;
    line-height: 36px;
  }

  .heading.black.medium {
    font-size: 20px;
    line-height: 24px;
  }

  .heading.black.medium.link {
    position: relative;
    margin-left: 0px;
    float: right;
    clear: right;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }

  .heading.black.medium.logo {
    line-height: 22px;
  }

  .heading.black.medium.body {
    margin-bottom: 5vw;
  }

  .heading.black.numbers {
    position: relative;
    width: 100%;
    font-size: 36px;
    line-height: 40px;
  }

  .heading.white {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 36px;
  }

  .heading.numbers.white {
    line-height: 46px;
  }

  .heading.small {
    font-size: 16px;
    line-height: 24px;
  }

  .body.black {
    font-size: 16px;
    line-height: 24px;
  }

  .body.white {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 20px;
  }

  .grid-vertical.numbers-grid {
    width: 100%;
  }

  .mask {
    overflow: hidden;
    height: auto;
    padding-bottom: 0vw;
  }

  .mask.right-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2vw;
  }

  .mask.numbers-mask {
    width: 100%;
  }

  .mask.numbers-mask.hero-number {
    width: 100%;
    margin-left: 0vw;
  }

  .video {
    padding: 6vw;
  }

  .thumbnail {
    width: 100%;
  }

  .image {
    padding: 5vw;
  }

  .grid-nav {
    display: block;
  }

  .load-block.black {
    z-index: 1;
  }

  .cursor-dot {
    border-radius: 100%;
  }

  .cursor-wrapper {
    z-index: -1;
    display: none;
  }

  .body-3 {
    cursor: auto;
  }

  .link-wrap {
    height: 6vw;
    margin-right: 10px;
  }

  .link-wrap.fixed {
    position: relative;
    width: 100%;
    margin-bottom: 0vw;
  }

  .loader-wrap {
    display: none;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .image-2 {
    width: 60vw;
  }
}

#w-node-1b9afbcc94a6-fbd25f1e {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-89327fc159cd-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-addf796c087c-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-c53de46c8cce-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c53de46c8ccf-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-98915c558b34-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-98915c558b35-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-68f6314c3165-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-68f6314c3166-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-82931d3150f4-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-070c5a416a45-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-070c5a416a46-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-3b7c8f8832f6-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-3b7c8f8832f7-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

@media screen and (min-width: 1440px) {
  #w-node-addf796c087c-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 991px) {
  #w-node-89327fc159cd-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-c53de46c8cce-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-98915c558b34-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-68f6314c3165-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-070c5a416a45-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-3b7c8f8832f6-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-89327fc159cd-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-c53de46c8cce-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-98915c558b34-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-68f6314c3165-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-070c5a416a45-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-3b7c8f8832f6-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/helveticaneue.ttf') format('truetype'), url('../fonts/helveticaneue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-BoldExt.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue roman';
  src: url('../fonts/HelveticaNeue-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}