.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #000;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 2.5vw;
}

p {
  margin-bottom: 10px;
}

.grid {
  position: relative;
  overflow: visible;
  padding: 5vw;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid.hero {
  padding-top: 18vw;
  padding-bottom: 2vw;
}

.grid-2-up {
  position: relative;
  z-index: 4;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  padding: 5vw;
  grid-auto-columns: 1fr;
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-2-up.right-aligned {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  justify-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0vw;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top: 0.5px none #000;
  border-bottom: 0.5px none #000;
  -webkit-transform: translate(7vw, -9vw) rotate(90deg);
  -ms-transform: translate(7vw, -9vw) rotate(90deg);
  transform: translate(7vw, -9vw) rotate(90deg);
}

.grid-2-up.small-width {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  width: 100%;
  padding: 7vw 10vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 0vw;
  grid-row-gap: 0vw;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-2-up.single-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5vw;
  padding-bottom: 5vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-top: 0.5px none #000;
  border-bottom: 0.5px none #000;
  line-height: 3vw;
}

.grid-2-up.single-col.left-text {
  padding: 5vw 5vw 2vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.grid-2-up.center-width {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5vw 15vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-2-up.centered {
  position: fixed;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  padding: 1vw;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.grid-1-up {
  position: relative;
  z-index: 1;
  padding: 2vw 5vw;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.grid-1-up.hero-text {
  position: absolute;
  padding: 6vw 5vw 5vw;
}

.img {
  position: relative;
  display: block;
  width: 26vw;
  text-align: center;
}

.img.center {
  position: relative;
  width: 40vw;
  height: 100%;
  max-width: 40vw;
  -webkit-filter: none;
  filter: none;
}

.img.center.full {
  width: 100%;
  height: 100%;
  max-width: none;
}

.img.center.intro {
  -webkit-filter: none;
  filter: none;
}

.img.center.half {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.img.column.full {
  overflow: visible;
  width: 100%;
}

.img.column.half {
  position: relative;
  overflow: visible;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.img.full {
  width: 100%;
}

.heading {
  position: relative;
  margin-top: 0px;
  margin-bottom: 2vw;
  background-color: hsla(0, 0%, 44.7%, 0);
  font-family: Montserrat, sans-serif;
  color: #fff;
  line-height: 8vw;
  text-transform: lowercase;
}

.heading.number {
  display: none;
  color: #000;
  font-size: 1vw;
  line-height: 2vw;
  font-weight: 600;
}

.heading.title {
  color: #000;
  font-size: 6vw;
  line-height: 7vw;
  text-decoration: none;
}

.heading.title.link {
  display: inline;
  padding-right: 0vw;
  color: #fff;
  font-size: 3vw;
  line-height: 4vw;
  font-weight: 100;
  text-align: left;
  text-transform: lowercase;
  white-space: normal;
}

.heading.title.link.footer {
  margin-right: 1vw;
  padding-right: 0vw;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 1.2vw;
  line-height: 2vw;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.heading.title.link.footer:hover {
  padding-left: 0vw;
}

.heading.title.link.footer.primary {
  z-index: 4;
  display: block;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 6vw;
  padding: 20px;
  background-color: #321bff;
  text-align: center;
}

.heading.title.link.intro {
  margin-right: 10px;
  padding-right: 0vw;
  font-size: 1.2vw;
  line-height: 2.2vw;
  font-weight: 500;
  letter-spacing: -0.5px;
  cursor: none;
}

.heading.title.hero-hdr {
  color: #fff;
  font-size: 5vw;
  line-height: 5.5vw;
  font-weight: 200;
  text-transform: uppercase;
}

.heading.title.hero-hdr.intro {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 9vw;
  line-height: 7vw;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.1vw;
  text-transform: lowercase;
}

.heading.title.hero-hdr.body-hdr {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 9vw;
  line-height: 8vw;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.1vw;
  text-transform: lowercase;
}

.heading.small {
  line-height: 2.5vw;
}

.heading.body-text {
  font-weight: 500;
}

.heading.body-text.large {
  font-size: 8vw;
  line-height: 7.7vw;
}

.heading.body-text.large.small {
  font-size: 1.2vw;
  line-height: 2.2vw;
  text-align: left;
  text-decoration: none;
}

.heading.body-text.large.small.link {
  display: inline-block;
  font-size: 3vw;
  line-height: 3vw;
  font-weight: 400;
  text-decoration: none;
  cursor: none;
}

.heading.body-text.large.title {
  color: #fff;
  font-size: 7vw;
  line-height: 7vw;
}

.heading.body-text.intro {
  font-size: 8vw;
  line-height: 7.7vw;
}

.heading.body-text.loader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: hsla(0, 0%, 44.7%, 0);
  color: #fff;
}

.paragraph {
  position: relative;
  overflow: visible;
  margin-bottom: 0px;
  float: none;
  clear: left;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 1vw;
  line-height: 2vw;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.paragraph.body {
  padding-bottom: 0vw;
  background-color: hsla(0, 0%, 44.7%, 0);
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 1.2vw;
  line-height: 2.2vw;
  font-weight: 500;
  text-indent: 2vw;
  text-transform: lowercase;
}

.paragraph.p-grid {
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  justify-items: baseline;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  line-height: 2vw;
}

.paragraph.p-grid.hide {
  display: inline;
}

.paragraph.hide {
  display: none;
}

.paragraph.header {
  display: none;
}

.grid-1a-up {
  position: relative;
  height: 100%;
  padding: 5vw 10vw;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-1a-up.full-width {
  overflow: hidden;
  margin-top: 10vw;
  margin-bottom: 10vw;
  padding: 0vw;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-1a-up.double {
  overflow: hidden;
  padding: 5vw 0vw;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.mask {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-style: normal;
  text-align: center;
  list-style-type: none;
}

.mask.vertical {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 5;
  overflow: visible;
  margin: 0vw;
  padding: 0px;
  background-color: hsla(0, 0%, 44.7%, 0);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective-origin: 0% 0%;
  perspective-origin: 0% 0%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  font-size: 14px;
}

.mask.image-mask {
  overflow: visible;
}

.mask.top-mask {
  text-align: left;
}

.body {
  padding-top: 0vw;
  padding-bottom: 4vw;
  cursor: none;
}

.list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 0px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

.body-link {
  position: relative;
  font-family: Inconsolata, monospace;
  color: #fff;
  text-decoration: none;
}

.client-list {
  position: relative;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
}

.list-item.hide {
  display: none;
}

.header-wrap {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform: translate(0vw, 7vw) rotate(-90deg);
  -ms-transform: translate(0vw, 7vw) rotate(-90deg);
  transform: translate(0vw, 7vw) rotate(-90deg);
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.scroll-bar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 6;
  height: 3px;
  background-color: #fff;
}

.loader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  display: none;
  width: 100%;
  height: 100%;
  margin-bottom: 3vw;
  padding-top: 5vw;
  padding-left: 5vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #727272;
  opacity: 1;
  -webkit-filter: none;
  filter: none;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 8vw;
  line-height: 8vw;
  letter-spacing: -0.5vw;
  text-transform: lowercase;
  -o-object-fit: cover;
  object-fit: cover;
}

.image {
  width: 10vw;
  -webkit-filter: none;
  filter: none;
}

.grid-3-up {
  padding: 5vw 3vw;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-3 {
  margin-left: 3vw;
}

.div-block-5 {
  margin-left: 0.7vw;
}

.mask-wrap {
  position: relative;
  display: block;
  overflow: visible;
  margin-top: 5vw;
  margin-bottom: 5vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: stretch;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.paragraph-3 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 3vw;
  padding-top: 5vw;
  padding-left: 5vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #727272;
  opacity: 1;
  -webkit-filter: none;
  filter: none;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 8vw;
  line-height: 8vw;
  letter-spacing: -0.5vw;
  text-transform: lowercase;
  -o-object-fit: cover;
  object-fit: cover;
}

.paragraph-4 {
  line-height: 9px;
}

.paragraph-5 {
  z-index: 10;
  display: none;
  margin-bottom: 0vw;
  padding: 5vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 8px;
}

.thumbnail {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  overflow: visible;
  width: 2vw;
  height: auto;
  margin: 0vw 1vw 1vw;
  float: none;
  clear: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.animated-loader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 6;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #000;
}

.loader-thumb {
  position: absolute;
  display: block;
  width: 6vw;
}

.inner-loader-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid-6 {
  padding-top: 10vw;
}

.heart {
  position: relative;
}

.vertical-center {
  position: relative;
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.cursor-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cursor-dot {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: none;
}

.cursor-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 50%;
}

.mask-thumb.small {
  overflow: hidden;
  width: 2.5vw;
  margin-right: 1vw;
  margin-bottom: 1.5vw;
  margin-left: 1vw;
}

.mask-thumb.large {
  overflow: hidden;
}

.mask-thumb.large.video {
  width: 100%;
}

.mask-thumb.large.left {
  width: 100%;
}

.mask-thumb.large.left.full {
  width: auto;
}

.full-width-image {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.grid-7 {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.text.right {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 4;
  display: block;
  padding: 1vw;
}

.grid-8 {
  padding-left: 1vw;
}

.dark {
  width: 100%;
  background-color: #1f1f1f;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.dark:hover {
  background-color: #a0a0a0;
}

.light {
  width: 10px;
  height: 10px;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.light:hover {
  background-color: #a0a0a0;
}

.theme-bar {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  display: none;
  width: auto;
  height: auto;
  margin: 0px 50px 10px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.theme {
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 5px;
  border-radius: 50px;
}

.theme.light {
  margin-right: 5px;
  margin-left: 5px;
}

.theme.dark {
  background-color: #646464;
}

.theme.dark:hover {
  padding: 0px;
  background-color: #fff;
}

@media screen and (min-width: 1440px) {
  .grid-2-up.right-aligned {
    -webkit-transform: translate(6vw, -9vw) rotate(90deg);
    -ms-transform: translate(6vw, -9vw) rotate(90deg);
    transform: translate(6vw, -9vw) rotate(90deg);
  }
  .img.center.intro {
    width: 36vw;
  }
  .heading.title.link.intro {
    font-weight: 500;
  }
  .heading.body {
    color: #000;
  }
  .heading.body-text.large {
    font-weight: 500;
  }
  .heading.body-text.large.small {
    text-align: left;
  }
  .heading.body-text.intro {
    font-weight: 500;
  }
  .mask.image-mask {
    -webkit-transform: translate(0vw, 0vw);
    -ms-transform: translate(0vw, 0vw);
    transform: translate(0vw, 0vw);
  }
  .body {
    cursor: none;
  }
  .header-wrap {
    -webkit-transform: translate(0vw, 7vw) rotate(-90deg);
    -ms-transform: translate(0vw, 7vw) rotate(-90deg);
    transform: translate(0vw, 7vw) rotate(-90deg);
  }
  .mask-wrap {
    margin-bottom: 5vw;
  }
  .thumbnail {
    margin: 0vw 1vw 1vw;
  }
  .animated-loader {
    display: none;
  }
  .heart {
    line-height: 7vw;
    font-weight: 500;
  }
  .cursor-wrapper {
    z-index: 0;
  }
  .cursor-dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
  }
  .cursor-circle {
    border-color: #fff;
  }
  .mask-thumb {
    overflow: hidden;
  }
  .mask-thumb.small {
    width: 2vw;
  }
  .mask-thumb.large.video {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .grid-2-up {
    padding: 5vw;
    grid-column-gap: 4vw;
    grid-row-gap: 1vw;
  }
  .grid-2-up.right-aligned {
    padding-bottom: 0vw;
    -webkit-transform: translate(6vw, -9vw) rotate(90deg);
    -ms-transform: translate(6vw, -9vw) rotate(90deg);
    transform: translate(6vw, -9vw) rotate(90deg);
  }
  .heading.title.link.footer {
    line-height: 2vw;
  }
  .heading.title.link.intro {
    color: #fff;
  }
  .heading.body-text.large {
    font-weight: 500;
  }
  .mask {
    overflow: hidden;
    text-align: center;
  }
  .mask.vertical {
    margin-top: 1vw;
    margin-left: 1vw;
  }
  .body {
    padding-bottom: 10vw;
  }
  .client-list {
    margin-bottom: 0px;
    padding: 0px;
  }
  .mask-wrap {
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    justify-items: stretch;
    text-align: left;
  }
  .vertical-center {
    display: inline;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    line-height: 2vw;
  }
  .cursor-wrapper {
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .cursor-dot {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 767px) {
  .grid {
    display: block;
    justify-items: start;
  }
  .grid.hero {
    padding: 0vw 5vw;
  }
  .grid-2-up {
    display: block;
    padding: 5vw;
  }
  .grid-2-up.right-aligned {
    position: relative;
    display: block;
    padding: 5vw;
    border-top: 1px solid hsla(0, 0%, 100%, 0.26);
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .grid-2-up.small-width {
    padding: 2.5vw;
  }
  .grid-2-up.center-width {
    padding: 7vw;
  }
  .grid-2-up.centered {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 6;
    padding: 5vw;
  }
  .grid-1-up {
    padding: 5vw;
  }
  .grid-1-up.hero-text {
    position: relative;
    padding: 25vw 5vw 5vw;
  }
  .img.center {
    width: 100%;
    max-width: 100%;
  }
  .img.column {
    width: 40vw;
  }
  .img.column.full {
    margin-bottom: 20px;
  }
  .img.column.hide {
    display: none;
  }
  .heading.number {
    font-size: 12px;
    line-height: 16px;
  }
  .heading.title.link {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .heading.title.link.footer {
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
  }
  .heading.title.link.footer.primary {
    width: 100%;
  }
  .heading.title.link.intro {
    display: inline;
    margin-bottom: 0vw;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    font-weight: 500;
  }
  .heading.title.hero-hdr {
    font-weight: 300;
  }
  .heading.title.hero-hdr.intro {
    margin-top: 10vw;
    color: #000;
    font-size: 60px;
    line-height: 50px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0vw;
    text-transform: lowercase;
  }
  .heading.title.hero-hdr.body-hdr {
    margin-bottom: 0vw;
    padding-bottom: 10px;
    color: #000;
    font-size: 50px;
    line-height: 50px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0vw;
  }
  .heading.body-text.large.small {
    margin-bottom: 0vw;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
  }
  .heading.body-text.large.small.link {
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;
  }
  .heading.body-text.large.small.link.list-link {
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  .heading.body-text.large.title {
    font-size: 40px;
    line-height: 50px;
  }
  .heading.body-text.intro {
    font-size: 40px;
    line-height: 50px;
  }
  .paragraph {
    font-size: 16px;
    line-height: 24px;
  }
  .paragraph.body {
    padding: 0px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    text-indent: 0vw;
  }
  .paragraph.p-grid {
    display: block;
    line-height: 26px;
  }
  .paragraph.header {
    display: block;
    overflow: hidden;
    margin-bottom: 40px;
  }
  .grid-1a-up {
    padding: 0vw;
  }
  .grid-1a-up.full-width {
    margin-top: 0vw;
    margin-bottom: 0vw;
    padding: 5vw;
  }
  .mask {
    display: inline;
    overflow: hidden;
    margin-bottom: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: left;
  }
  .mask.vertical {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    width: 100%;
    margin: 0vw;
    padding: 5vw;
    background-color: #000;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .mask.image-mask {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .mask.top-mask {
    margin-bottom: 5vw;
  }
  .body {
    padding-top: 0vw;
    padding-bottom: 0vw;
  }
  .list {
    display: block;
    margin-bottom: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .list-item.hide {
    display: none;
  }
  .header-wrap {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .scroll-bar {
    display: none;
  }
  .loader {
    display: none;
    margin-bottom: 0vw;
    padding-top: 15vw;
    padding-left: 5vw;
    font-size: 40px;
    line-height: 46px;
    font-weight: 500;
  }
  .grid-3-up {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .div-block-4 {
    margin: 2vw;
  }
  .mask-wrap {
    display: block;
    margin-top: 5vw;
    text-align: left;
  }
  .paragraph-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .thumbnail {
    display: none;
    overflow: visible;
    width: 20px;
    margin: 0px 0px 0px 10px;
    float: none;
    clear: none;
  }
  .loader-thumb {
    width: auto;
    height: 22vw;
  }
  .heart {
    font-size: 40px;
    line-height: 30px;
  }
  .vertical-center {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
  }
  .cursor-wrapper {
    display: none;
  }
  .mask-thumb.small {
    display: inline-block;
    width: 30px;
    margin-left: 2vw;
  }
  .mask-thumb.large.right.hide {
    display: none;
  }
  .theme-bar {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .grid {
    display: block;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .grid.hero {
    padding: 0vw 5vw;
  }
  .grid-2-up {
    display: -ms-grid;
    display: grid;
    padding: 5vw;
    grid-auto-columns: 1fr;
    grid-column-gap: 4vw;
    grid-row-gap: 0vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .grid-2-up.right-aligned {
    position: relative;
    display: block;
    margin-top: 5vw;
    margin-bottom: 0vw;
    padding: 10vw 5vw;
    grid-auto-columns: 1fr;
    grid-column-gap: 0vw;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-top: 1px solid hsla(0, 0%, 100%, 0.21);
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .grid-2-up.small-width {
    padding: 0vw 5vw 5vw;
    grid-column-gap: 4vw;
  }
  .grid-2-up.single-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .grid-2-up.center-width {
    padding: 6vw;
  }
  .grid-2-up.centered {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 7;
    padding: 5vw;
  }
  .grid-1-up {
    padding: 10vw 5vw 0vw;
  }
  .grid-1-up.hero-text {
    position: relative;
    padding: 25vw 5vw 5vw;
  }
  .img.center {
    width: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .img.column {
    width: 42vw;
    max-width: 100%;
  }
  .img.column.full {
    margin-bottom: 0px;
  }
  .img.column.hide {
    display: none;
  }
  .heading {
    font-size: 13vw;
    line-height: 13vw;
  }
  .heading.number {
    font-size: 12px;
    line-height: 16px;
  }
  .heading.title.link {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .heading.title.link.footer {
    position: relative;
    display: inline;
    overflow: visible;
    line-height: 28px;
    font-style: normal;
    text-decoration: none;
  }
  .heading.title.link.footer.primary {
    width: 100%;
    padding: 10px;
  }
  .heading.title.link.intro {
    display: inline;
    margin-right: 0px;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0px;
  }
  .heading.title.hero-hdr {
    font-size: 26px;
    line-height: 32px;
  }
  .heading.title.hero-hdr.intro {
    margin-top: 10vw;
    margin-bottom: 5vw;
    color: #000;
    line-height: 50px;
    font-weight: 500;
    text-align: left;
    letter-spacing: -0.1vw;
  }
  .heading.title.hero-hdr.body-hdr {
    font-family: Montserrat, sans-serif;
    color: #000;
    font-size: 50px;
    line-height: 45px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0vw;
  }
  .heading.body-text.large {
    margin-bottom: 3vw;
    font-size: 40px;
    line-height: 40px;
  }
  .heading.body-text.large.small {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }
  .heading.body-text.large.small.link {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
  .heading.body-text.large.small.link.list-link {
    margin-top: 5vw;
    font-weight: 500;
  }
  .heading.body-text.large.title {
    font-size: 40px;
    line-height: 40px;
  }
  .heading.body-text.intro {
    font-size: 40px;
    line-height: 40px;
  }
  .paragraph {
    display: block;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    font-weight: 400;
  }
  .paragraph.body {
    padding-top: 0vw;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
  }
  .paragraph.p-grid {
    position: relative;
    display: block;
    margin-bottom: 0px;
    float: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    justify-items: start;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    line-height: 2vw;
    text-align: justify;
    text-transform: lowercase;
    white-space: normal;
  }
  .paragraph.p-grid.hide {
    display: none;
  }
  .paragraph.hide {
    display: block;
  }
  .paragraph.header {
    display: block;
    overflow: hidden;
    margin-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .grid-1a-up {
    display: block;
    padding: 0vw;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .grid-1a-up.full-width {
    margin-top: 0vw;
    margin-bottom: 0vw;
    padding: 5vw;
  }
  .mask {
    display: inline;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: left;
  }
  .mask.vertical {
    position: fixed;
    overflow: visible;
    width: 100%;
    margin-top: 0px;
    padding: 5vw;
    background-color: #000;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .mask.image-mask {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    -webkit-transform: translate(0vw, 0vw);
    -ms-transform: translate(0vw, 0vw);
    transform: translate(0vw, 0vw);
    -o-object-fit: cover;
    object-fit: cover;
  }
  .mask.top-mask {
    margin-bottom: 5vw;
  }
  .body {
    padding-top: 0vw;
    padding-bottom: 0vw;
    cursor: default;
  }
  .list {
    display: block;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: center;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: center;
  }
  .list-item.hide {
    display: none;
  }
  .header-wrap {
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .loader {
    display: none;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15vw;
    padding-left: 5vw;
    font-size: 40px;
    line-height: 46px;
    font-weight: 500;
  }
  .grid-3-up {
    display: -ms-grid;
    display: grid;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .primary-cta {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #321bff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.5px;
    text-transform: lowercase;
  }
  .mask-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5vw;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: left;
  }
  .paragraph-4 {
    display: none;
  }
  .thumbnail {
    position: relative;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: none;
    width: 20px;
    margin: 5px 10px;
    float: none;
    clear: none;
    text-decoration: none;
  }
  .animated-loader {
    display: none;
  }
  .loader-thumb {
    width: 18vw;
    height: auto;
  }
  .heart {
    position: relative;
    display: inline-block;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  .vertical-center {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-align: left;
  }
  .cursor-wrapper {
    z-index: -1;
    display: none;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .cursor-dot {
    border-radius: 100%;
  }
  .mask-thumb.small {
    display: inline-block;
    width: 25px;
    margin-left: 3vw;
  }
  .mask-thumb.large {
    margin: 0px;
  }
  .mask-thumb.large.right.hide {
    display: none;
  }
  .text.right {
    display: none;
  }
  .theme-bar {
    display: none;
  }
}

#w-node-19d4baa52e68-baa52e67 {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-1aa24b4b8cb5-fa9e86e5 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-a9bbfc9aa319-fc9aa318 {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-1dab0f30120b-0f301208 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-c02ab2ebf073-b2ebf070 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-81c26903009b-6903009a {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-ade63a591dbd-3a591dba {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-c1817a2db0c8-7a2db0c7 {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (min-width: 1440px) {
  #w-node-ade63a591dbb-3a591dba {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 991px) {
  #w-node-1aa24b4b8cb5-fa9e86e5 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
}

@font-face {
  font-family: 'Telegraf';
  src: url('../fonts/Telegraf-UltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Telegraf';
  src: url('../fonts/Telegraf-UltraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Telegraf';
  src: url('../fonts/Telegraf-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}