.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

.section.header {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 5;
  width: 100%;
  padding: 0vw 10px;
}

.section.header.footer {
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  opacity: 0;
}

.section.body.outer-space {
  padding: 3vw;
}

.section.body.hero {
  display: none;
  height: 100vh;
  padding: 9vw 3vw 3vw;
}

.section.body.big-grid {
  display: -ms-grid;
  display: grid;
  padding-left: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 3vw;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.section.body.hero-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  padding-top: 0vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: hsla(0, 0%, 100%, 0);
}

.section.body.page-nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 5;
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-bottom: 10px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid._2-up {
  padding: 5vw 3vw;
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
}

.grid._2-up.intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 10vw;
  padding-bottom: 10vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-transform: perspective(2000px);
  transform: perspective(2000px);
}

.grid._2-up.slim {
  position: relative;
  padding-top: 0vw;
  padding-bottom: 0vw;
}

.grid._2-up.tall {
  padding-bottom: 10vw;
}

.grid._3-up {
  padding: 3vw;
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.heading {
  font-family: Helveticaneue, sans-serif;
  font-size: 6vw;
  line-height: 4vw;
  font-weight: 500;
  text-transform: lowercase;
}

.heading.black {
  font-family: Helveticaneue, sans-serif;
  font-size: 4.5vw;
  line-height: 100%;
}

.heading.black.medium {
  margin-bottom: 0px;
  color: #000;
  font-size: 2vw;
  line-height: 3vw;
  text-decoration: none;
}

.heading.black.medium.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  font-size: 1.2vw;
  line-height: 2.2vw;
  font-weight: 400;
  cursor: none;
}

.heading.black.medium.link:hover {
  position: relative;
}

.heading.black.medium.link.w--current {
  color: #0706ff;
}

.heading.black.medium.link.left {
  position: relative;
  margin-left: 0px;
  color: #000;
  font-weight: 400;
}

.heading.black.medium.link.white {
  margin-left: auto;
  color: #fff;
}

.heading.black.medium.link.top {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.heading.black.medium.body {
  margin-top: auto;
  font-size: 1.2vw;
  line-height: 2.2vw;
  font-weight: 400;
}

.heading.black.medium.body.project-hdr {
  font-size: 2.5vw;
  line-height: 3.5vw;
  font-weight: 500;
}

.heading.black.medium.body.loader-text {
  position: relative;
}

.heading.black.numbers {
  padding-top: 2vh;
  padding-bottom: 2vh;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 10vw;
}

.heading.black.title {
  font-family: Inconsolata, monospace;
}

.heading.white {
  color: #fff;
  line-height: 90%;
}

.heading.white.numbers {
  position: relative;
  color: #fff;
}

.heading.white.numbers.black {
  color: #000;
}

.heading.small {
  color: #000;
  font-size: 1.2vw;
  line-height: 2.2vw;
  font-weight: 400;
  text-decoration: none;
}

.heading.small.project-hdr {
  font-weight: 500;
}

.body {
  font-size: 1vw;
  line-height: 2vw;
}

.body.black {
  margin-top: 10px;
  margin-bottom: auto;
  color: #000;
  font-size: 1.5vw;
  line-height: 2.5vw;
}

.body.white {
  color: #fff;
  font-size: 1.5vw;
  line-height: 2.5vw;
}

.body.loader-text {
  font-family: Helveticaneue, sans-serif;
  font-size: 2vw;
  line-height: 3vw;
  font-weight: 400;
}

.body.circletext1 {
  font-family: Helveticaneue, sans-serif;
  font-size: 2vw;
  line-height: 3vw;
  font-weight: 400;
}

.body.curved-text {
  font-family: Helveticaneue, sans-serif;
  font-size: 2vw;
  line-height: 3vw;
  font-weight: 400;
}

.grid-vertical {
  grid-column-gap: 0px;
  grid-row-gap: 1vw;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-vertical.intro {
  background-color: #000;
}

.grid-vertical.numbers-grid {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 471px;
  perspective: 471px;
  -webkit-perspective-origin: 100% 50%;
  perspective-origin: 100% 50%;
  -webkit-transform: perspective(647px);
  transform: perspective(647px);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.grid-vertical.text-block {
  grid-row-gap: 1vw;
}

.mask {
  position: relative;
  z-index: 4;
  overflow: hidden;
  margin-top: 0px;
  padding-bottom: 0vw;
}

.mask.right-nav {
  z-index: 7;
  display: -ms-grid;
  display: grid;
  width: 20vw;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.25fr 1fr 1fr 1fr;
  grid-template-columns: 0.25fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.mask.right-nav.sections-nav {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mask.numbers-mask {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  padding-top: 0vh;
  padding-right: 0vw;
}

.mask.numbers-mask.hero-number {
  display: none;
  margin-left: 3vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.mask.skew {
  padding-bottom: 0vw;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-transform: perspective(98px) perspective(431px);
  transform: perspective(98px) perspective(431px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.mask.gif-center {
  width: 40vw;
}

.video {
  overflow: hidden;
  padding: 0vw 15vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.thumbnail.narrow {
  width: 28vw;
}

.thumbnail.narrow.video {
  width: 26vw;
}

.thumbnail.icons {
  padding: 10vw;
}

.image {
  position: relative;
  display: block;
  padding: 3vw 3vw 0vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.image.grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image.image-grid {
  display: -ms-grid;
  display: grid;
  padding-right: 15vw;
  padding-bottom: 3vw;
  padding-left: 15vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 17vw;
  grid-row-gap: 8vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image.image-grid.small {
  padding: 8vw 16vw;
  grid-column-gap: 19vw;
  grid-row-gap: 10vw;
}

.grid-3 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-nav {
  position: relative;
  justify-items: stretch;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.load-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transform: translate(-70vw, 0px);
  -ms-transform: translate(-70vw, 0px);
  transform: translate(-70vw, 0px);
  line-height: 3vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.load-block.white-block {
  z-index: 1;
  background-color: #fff;
  -webkit-transform: translate(-70vw, 0px);
  -ms-transform: translate(-70vw, 0px);
  transform: translate(-70vw, 0px);
}

.load-block.black {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(-100vw, 0px);
  -ms-transform: translate(-100vw, 0px);
  transform: translate(-100vw, 0px);
}

.load-block.full {
  width: 100vh;
  height: 100vh;
}

.cursor-dot {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 2vw;
  height: 2vw;
  border-style: none;
  border-width: 0.5vw;
  border-color: #fff;
  border-radius: 50%;
  background-color: #000;
  box-shadow: none;
}

.cursor-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cursor-circle {
  position: absolute;
  display: block;
  width: 6vw;
  height: 6vw;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.32);
  border-radius: 50%;
}

.body-2 {
  cursor: none;
}

.body-3 {
  cursor: none;
}

.link-wrap {
  position: relative;
  overflow: hidden;
  height: 2.5vw;
  float: left;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  text-decoration: none;
  cursor: none;
}

.link-wrap.w--current {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.link-wrap.fixed {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-right: 2vw;
  margin-bottom: 1vw;
}

.loader-wrap {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 12;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-2 {
  position: relative;
  width: 20vw;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.image-2.hide {
  display: none;
}

.scroll-bar {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 12;
  width: 0.2vw;
  height: 10vh;
  border-radius: 20px;
  background-color: #000;
}

.inline-link {
  color: #fff;
}

.thumb {
  width: 100%;
}

.image-thumb {
  width: 100%;
}

.video-wrap {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.curved-text {
  position: relative;
}

.container {
  text-align: center;
}

.loader-embed {
  width: 40vw;
  height: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Helveticaneue, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 2.2vw;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.15vw;
  text-transform: lowercase;
}

.cover {
  position: relative;
}

.white-bg {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #cfc7c1;
}

.scroll-grid {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 100%;
  padding: 16px;
  justify-items: end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.scroll-inner-wrap {
  position: relative;
  width: auto;
  height: 30vh;
}

.grid-4 {
  overflow: hidden;
  height: 10vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

@media screen and (min-width: 1280px) {
  .video {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .cursor-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .section.body.hero {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .section.body.big-grid {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .section.body.hero-2 {
    height: 95vh;
  }

  .grid._2-up {
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .grid._2-up.intro {
    padding-right: 3vw;
    padding-left: 3vw;
  }

  .grid._2-up.slim {
    padding: 0vw;
  }

  .heading.black.medium.body {
    margin-bottom: 2vw;
    line-height: 2.5vw;
  }

  .heading.black.medium.body.project-hdr {
    color: #000;
  }

  .mask.numbers-mask {
    padding-right: 0vw;
  }

  .video {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .image {
    padding: 3vw 10vw;
  }

  .cursor-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1920px) {
  .section.header.footer {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .section.body.big-grid {
    padding-right: 0vw;
    padding-left: 0vw;
  }

  .section.body.hero-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .grid._2-up {
    padding-top: 5vw;
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .grid._2-up.intro {
    padding-top: 5vw;
    padding-bottom: 5vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid._2-up.slim {
    padding: 0vw;
  }

  .heading.black {
    font-size: 4vw;
    line-height: 100%;
  }

  .heading.black.medium.link {
    font-size: 1.5vw;
    line-height: 2.5vw;
  }

  .heading.black.medium.body {
    margin-bottom: 0vw;
    font-size: 1.5vw;
    line-height: 2vw;
  }

  .heading.black.medium.body-link {
    position: relative;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    font-size: 1.5vw;
    line-height: 2vw;
    text-decoration: none;
    cursor: none;
  }

  .heading.black.medium.body-link:hover {
    color: #0706ff;
  }

  .heading.small {
    font-size: 1vw;
    line-height: 1.6vw;
  }

  .grid-vertical.text-block {
    grid-row-gap: 3vw;
  }

  .mask {
    margin-bottom: auto;
    padding-bottom: 0vw;
  }

  .mask.gif-center {
    width: auto;
  }

  .video {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 25vw;
    padding-left: 25vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .thumbnail.narrow {
    width: 20vw;
  }

  .image {
    padding: 3vw;
  }

  .image.grid {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .load-block.black {
    background-color: #dadada;
  }

  .image-3 {
    width: 100%;
  }

  .thumb {
    width: 40vw;
  }
}

@media screen and (max-width: 991px) {
  .video {
    position: relative;
    cursor: none;
  }

  .image {
    width: 100%;
    padding: 3vw;
  }

  .cursor-dot {
    width: 2vw;
    height: 2vw;
  }

  .cursor-wrapper {
    z-index: 10;
  }

  .loader-embed {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .section.body.hero {
    height: 100%;
    padding-top: 10vw;
  }

  .grid._2-up {
    display: -ms-grid;
    display: grid;
    padding: 10vw 15vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    grid-auto-columns: 1fr;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: center;
  }

  .grid._2-up.intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .heading.black {
    font-size: 30px;
    line-height: 100%;
  }

  .heading.black.medium.link {
    font-size: 16px;
    line-height: 24px;
  }

  .heading.black.medium.link.left {
    font-size: 16px;
    line-height: 24px;
    cursor: auto;
  }

  .heading.black.medium.link.left.w--current {
    font-size: 16px;
    line-height: 24px;
  }

  .heading.black.medium.logo {
    font-size: 16px;
    line-height: 30px;
  }

  .heading.black.medium.body {
    margin-bottom: 0vw;
    font-size: 16px;
    line-height: 24px;
  }

  .heading.black.numbers {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .heading.white {
    font-size: 36px;
    line-height: 36px;
  }

  .heading.numbers.white {
    width: 100%;
    line-height: 40px;
  }

  .heading.small {
    font-size: 14px;
    line-height: 24px;
  }

  .body.black {
    font-size: 16px;
    line-height: 24px;
  }

  .body.white {
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .grid-vertical.numbers-grid {
    display: none;
    width: 100%;
  }

  .grid-vertical.text-block {
    justify-items: center;
  }

  .mask {
    height: auto;
  }

  .mask.right-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .mask.numbers-mask {
    width: 100%;
  }

  .mask.numbers-mask.hero-number {
    width: 100%;
    margin-left: 0vw;
  }

  .mask.gif-center {
    width: 60vw;
  }

  .thumbnail {
    width: 100%;
  }

  .thumbnail.narrow {
    width: 50vw;
  }

  .grid-nav {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 0.5fr 1fr;
    grid-template-columns: 0.5fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .load-block.black {
    -webkit-transform: translate(-100vw, 0px);
    -ms-transform: translate(-100vw, 0px);
    transform: translate(-100vw, 0px);
  }

  .cursor-wrapper {
    display: none;
  }

  .body-3 {
    cursor: none;
  }

  .link-wrap {
    height: 24px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .image-2 {
    width: 60vw;
  }

  .scroll-bar {
    display: none;
  }

  .loader-embed {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 479px) {
  .section.header {
    position: fixed;
    padding: 0vw;
    background-color: transparent;
  }

  .section.header.footer {
    position: fixed;
    opacity: 0;
  }

  .section.body {
    padding: 0vw;
  }

  .section.body.hero {
    height: 100%;
    padding: 0vw;
  }

  .section.body.big-grid {
    padding-top: 3vw;
    padding-right: 0px;
    padding-bottom: 3vw;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .section.body.hero-2 {
    height: auto;
    padding: 20vh 0vw 0vw;
  }

  .section.body.page-nav {
    z-index: 5;
    display: block;
    margin-bottom: 0px;
    padding: 5vw;
  }

  .grid._2-up {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 5vw 0vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid._2-up.intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 6vw;
    background-color: transparent;
  }

  .grid._2-up.slim {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 6vw;
    grid-row-gap: 6vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid._2-up.tall {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .heading.black {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }

  .heading.black.medium {
    font-size: 20px;
    line-height: 24px;
  }

  .heading.black.medium.link {
    position: relative;
    margin-left: 0px;
    float: right;
    clear: right;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    cursor: default;
  }

  .heading.black.medium.link.w--current {
    cursor: default;
  }

  .heading.black.medium.link.left {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    cursor: auto;
  }

  .heading.black.medium.link.left.w--current {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .heading.black.medium.link.left.mobile-cta {
    background-color: #000;
    color: #fff;
  }

  .heading.black.medium.logo {
    line-height: 22px;
  }

  .heading.black.medium.body {
    margin-bottom: auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .heading.black.medium.body.project-hdr {
    font-size: 20px;
    line-height: 24px;
  }

  .heading.black.numbers {
    position: relative;
    display: inline-block;
    width: auto;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .heading.white {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 36px;
  }

  .heading.numbers.black {
    font-size: 60px;
    line-height: 70px;
  }

  .heading.numbers.white {
    line-height: 46px;
  }

  .heading.small {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .body.black {
    font-size: 16px;
    line-height: 24px;
  }

  .body.white {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 20px;
  }

  .grid-vertical {
    padding: 5vw;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 1vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid-vertical.numbers-grid {
    overflow: hidden;
    width: 100%;
  }

  .grid-vertical.text-block {
    position: relative;
    display: -ms-grid;
    display: grid;
    padding: 5vw;
    justify-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 3vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .mask {
    overflow: hidden;
    height: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-bottom: 0vw;
  }

  .mask.right-nav {
    display: block;
    padding-top: 0vw;
  }

  .mask.right-nav.sections-nav {
    position: fixed;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: auto;
    margin-top: 0vw;
    margin-bottom: 0vw;
    padding: 5vw;
  }

  .mask.numbers-mask {
    width: 100%;
  }

  .mask.numbers-mask.hero-number {
    width: 100%;
    margin-left: 0vw;
  }

  .mask.gif-center {
    width: auto;
  }

  .mask.hide {
    display: none;
  }

  .video {
    padding: 0vw;
  }

  .thumbnail {
    width: 100%;
  }

  .thumbnail.narrow {
    width: 100%;
  }

  .thumbnail.icons {
    padding: 10vw 0vw;
  }

  .thumbnail.icon-size {
    padding: 0vw;
  }

  .image {
    padding: 5vw;
  }

  .image.grid {
    padding: 0vw 15vw;
  }

  .image.image-grid {
    display: -ms-grid;
    display: grid;
    padding-right: 25vw;
    padding-left: 25vw;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 30vw;
    grid-row-gap: 15vw;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .image.image-grid.small {
    width: 100%;
    padding: 25vw;
    grid-auto-flow: column;
  }

  .grid-nav {
    position: relative;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: -ms-grid;
    display: grid;
    padding: 5vw;
    justify-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 0vw;
    grid-row-gap: 0vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .load-block.black {
    z-index: 1;
  }

  .cursor-dot {
    border-radius: 100%;
  }

  .cursor-wrapper {
    z-index: -1;
    display: none;
  }

  .body-3 {
    text-transform: lowercase;
    cursor: auto;
  }

  .link-wrap {
    z-index: 6;
    overflow: hidden;
    width: auto;
    height: 24px;
    margin-right: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    cursor: default;
  }

  .link-wrap.w--current {
    height: 22px;
    border-bottom: 1px solid #000;
    text-decoration: none;
  }

  .link-wrap.fixed {
    position: relative;
    width: 100%;
    margin-bottom: 0vw;
  }

  .loader-wrap {
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: center;
  }

  .image-2 {
    width: 60vw;
  }

  .loader-embed {
    position: relative;
    width: 100vw;
    font-size: 20px;
    line-height: 30px;
  }

  .scroll-grid {
    display: none;
  }

  .button {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
}

#w-node-d0df8359-baf3-e4d1-41c6-9c19a66b0ede-fbd25f1e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

#w-node-_3b3415bf-d85d-b149-bdc6-1b9afbcc94a6-fbd25f1e {
  -ms-grid-column-align: end;
  justify-self: end;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

#w-node-_4dda0f7a-2346-68bc-1fed-89327fc159cd-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_80f3441c-4d4c-9f43-11f4-addf796c087c-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_8cfc7363-ca53-858c-8e86-c53de46c8cce-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_8cfc7363-ca53-858c-8e86-c53de46c8ccf-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_8fee6ee0-9f38-7708-a008-ae126f0c0dcc-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-aff69317-6086-bf42-e72f-5077735d54d7-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-aff69317-6086-bf42-e72f-5077735d54d8-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_0b2050d9-a8ba-a9eb-e4f9-15244285368a-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_0b2050d9-a8ba-a9eb-e4f9-152442853692-fbd25f1e {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_0b2050d9-a8ba-a9eb-e4f9-152442853693-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-b0eb6ccd-52e8-8d82-4e66-82931d3150f4-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_7608f9ca-048d-d863-4d45-070c5a416a45-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_7608f9ca-048d-d863-4d45-070c5a416a46-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_191788d4-9e65-4696-62ec-0e0833fdfb5f-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_191788d4-9e65-4696-62ec-0e0833fdfb85-fbd25f1e {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_191788d4-9e65-4696-62ec-0e0833fdfb86-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-grid-2-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_3fbdce6c-ce0a-0067-b1b7-c90161665bc1-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (min-width: 1440px) {
  #w-node-_80f3441c-4d4c-9f43-11f4-addf796c087c-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_4dda0f7a-2346-68bc-1fed-89327fc159cd-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_8cfc7363-ca53-858c-8e86-c53de46c8cce-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-aff69317-6086-bf42-e72f-5077735d54d7-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_0b2050d9-a8ba-a9eb-e4f9-152442853692-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_7608f9ca-048d-d863-4d45-070c5a416a45-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_191788d4-9e65-4696-62ec-0e0833fdfb85-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_4dda0f7a-2346-68bc-1fed-89327fc159cd-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_8cfc7363-ca53-858c-8e86-c53de46c8cce-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-aff69317-6086-bf42-e72f-5077735d54d7-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-cebf373c-b34c-6d0f-4e85-2d82bbe7d328-fbd25f1e {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_0b2050d9-a8ba-a9eb-e4f9-152442853692-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_7608f9ca-048d-d863-4d45-070c5a416a45-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_191788d4-9e65-4696-62ec-0e0833fdfb7e-fbd25f1e {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_191788d4-9e65-4696-62ec-0e0833fdfb85-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-d0df8359-baf3-e4d1-41c6-9c19a66b0ede-fbd25f1e {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_3b3415bf-d85d-b149-bdc6-1b9afbcc94a6-fbd25f1e {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-cebf373c-b34c-6d0f-4e85-2d82bbe7d328-fbd25f1e {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_191788d4-9e65-4696-62ec-0e0833fdfb7e-fbd25f1e {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/helveticaneue.ttf') format('truetype'), url('../fonts/helveticaneue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-BoldExt.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue roman';
  src: url('../fonts/HelveticaNeue-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}