/* .background_img_home,
body.color,
.home,
body,
html  {
  background: #353535 !important;
} */

/* backgrounds */
/*
.wait_times {
  background: #353535 url(../img/wait_times_photo.jpg) no-repeat 50% 50%/cover !important;
}

.real_time {
  background: #353535 url(../img/real_time_photo.jpg) no-repeat 50% 50%/cover !important;
}
.bookings {
  background: #353535 url(../img/bookings_photo.jpg) no-repeat 50% 50%/cover !important;
}
.zero_tap {
  background: #353535 url(../img/zero_tap_photo.jpg) no-repeat 50% 50%/cover !important;
} */
.about_me {
  background: #353535 url(../img/avatar.jpg) no-repeat 50% 50%/cover !important;
  /*-moz-transform: scaleX(-1);*/
  /*-o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";*/
}
/*
.bg_cover {
  background: #353535;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 444444444;
  /*opacity: 0;*/
  opacity: 0.04;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background: #353535 !important;
} */

.bg_cover.anim {
  opacity: 0.04;
  background: none !important;
}

.intro-links,
.intro-links.mobile-links.bg_color {
  background: #2e2e2e;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction .maven_b,
.name span,
.horizontal > span,
.details .title,
.floaty-wrap li a,
.fixed-nav .social-icon,
#spin {
  color: #fff !important;
}

.container_background_img_home,
.rectangle_blanc_background_anim,
.container_box,
.container_box_2,
.anim_box_1-5.introduction.client-wrap,
.box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
  /* background: none !important; */
  background-size: cover !important;
  background-position: center center !important;
}

.container_box,
.container_box_2 {
  z-index: 99999999999 !important;
}

a:hover {
  color: rgba(255,255,255,.54);
}

.center.subby {
  color: rgba(0,0,0,.54) !important;
  margin-top: 2vw;
  /* padding-bottom: 5vw; */
  opacity: 0 !important;
  -webkit-transition: all 2s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -moz-transition: all 2s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -o-transition: all 2s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  transition: all 2s cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */

  -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
}

.center.subby.anim_1 {
  margin-top: -10px !important;
  opacity: 1 !important;
}

.horizontal .progress-fill {
  background: rgba(255,255,255,.5);
}

.horizontal .progress-track {
  background: rgba(0,0,0,.20);
}

.floaty-wrap li a {
  color: #fff !important;
}

/* Fixed nav */


.fixed-nav.avatary {
  position: relative;
  bottom: auto !important;
  left: auto;
  height: 3vw;
  /*top: auto;*/
  z-index: 0;
  /* background: #353535; */
  /* margin: -63px 0 !important; */
  padding: 0;
  /*padding-top: 20vw !important;*/
  width: auto;
  display: none;
}

.fixed-nav.anim.shadow {
  box-shadow: 0 15px 30px rgba(46, 46, 46, .54);
  box-shadow: none;
  /*top: -30px;
  padding-top: 28px !important;*/
  /*background: #2e2e2e !important;*/
}

.fixed-nav .social-icon:hover {
  /*background: rgba(46, 46, 46, 1);*/
  /*padding: 15px 20px 15px 24px;*/
  /*padding: 1rem 1.5rem;
  margin: -1vw 0.2vw;*/
  /* background: none;
  padding: 0;
  color: #999 !important; */
  /*width: 5vw;*/
}

.ftr-copy,
.floaty-wrap li a > i.fa  {
  display: none;
}


.project_text .scrim {
  /* background: rgba(46, 46, 46, 1); */
  /* zoom: 2; */
}

/* Lists */


.floaty-wrap {
  float: left;
  margin-right: 10vw;
  text-align: center;
  /*width: 13vw;*/
  width: inherit;
}

.floaty-wrap + .floaty-wrap {
  margin-right: 0;
}

.floaty-wrap li,
.floaty-wrap li a {
  /*text-align: left;*/
  font-size: 1.5vw;
  line-height: 5vw;
}


a.ftr-link.anim_1 {
  opacity: 1 !important;
  margin-top: 2.5vw !important;
}

/*a.ftr-link:before {
content: " ";
position: absolute;
z-index: -1;
top: 5px;
left: 5px;
right: 5px;
bottom: 5px;
border: 5px solid #ffea00;
}*/

a.ftr-link:hover {
  /* color: #353535 !important; */
  background: #fff !important;
  opacity: 1 !important;
  /*padding: 2.3vh 2.7vw;
  margin: -0.3vh -0.3vw;*/
  /*box-shadow:
  -5px 5px #353535,
  -6px 6px #fff,
  -7px 7px #fff;
  -webkit-transform: translateX(6px);
  transform: translateX(6px);
  margin-left: 6px;*/
}

a.ftr-link:active {
  color: #fff !important;
  /* background: #353535 !important; */
  box-shadow:
  0 0 #fff,
  0 0 #fff,
  0 0 #fff;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .4s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -moz-transition: all .4s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -o-transition: all .4s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  transition: all .4s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}

@-webkit-keyframes color {
  100%,
  0% {
    stroke: #fff;
  }
  40% {
    stroke: #fff;
  }
  66% {
    stroke: #fff;
  }
  80%,
  90% {
    stroke: #fff;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #fff;
  }
  40% {
    stroke: #fff;
  }
  66% {
    stroke: #fff;
  }
  80%,
  90% {
    stroke: #fff;
  }
}

.intro-links.mobile-links.show-nav {
  z-index: 9999999999;
}

/* typing intro */

@-webkit-keyframes typing-short {
  from { width: 0 }
  to { width:5em }
}

@-moz-keyframes typing-short {
  from { width: 0 }
  to { width:5em }
}

@-webkit-keyframes typing {
  from { width: 0 }
  to { width:9em }
}

@-moz-keyframes typing {
  from { width: 0 }
  to { width:9em }
}

@-webkit-keyframes typing-middle {
  from { width: 0 }
  to { width:10em }
}

@-moz-keyframes typing-middle {
  from { width: 0 }
  to { width:10em }
}

@-webkit-keyframes typing-long {
  from { width: 0 }
  to { width: 25em }
}

@-moz-keyframes typing-long {
  from { width: 0 }
  to { width: 25em }
}

@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

@-moz-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}


.name {
  height: 2vh !important;
  width: fit-content;
  /*width: 25vw;*/
}

.name span {
  /*height: 6vh;*/
  width: fit-content !important;
}

.black {
  display: block;
  /*font-size:100%;*/
  width: fit-content !important;
  white-space:nowrap;
  overflow:hidden;
  border-right: .1em solid white;

  -webkit-animation: typing-long 1.5s steps(20, end), /* # of steps = # of characters */
  blink-caret 1s step-end infinite;
  -moz-animation: typing-long 1.5s steps(20, end), /* # of steps = # of characters */
  blink-caret 1s step-end infinite;
}

a.body_link {
  letter-spacing: normal !important;
  float: none;
  line-height: inherit;
}

.logo.bitmoji.nav {
  display: block;
  border: 0 solid transparent;
  display: block !important;
  position: absolute;
  left: calc(50% - 2em);
  z-index: 9;
  /* box-shadow: 0 0 0 4px #fff;
  -moz-box-shadow: 0 0 0 4px #fff;
  -webkit-box-shadow: 0 0 0 4px #fff; */
  /* border: solid #dedede 1px !important; */
}

/* .logo.bitmoji.nav.anim_1 {
  margin-top: 0 !important;
  top: 5vw !important;
  opacity: 1;
  left: 5vw;
} */

.logo.bitmoji.nav.anim_2 {
  width: 6.2vw;
  height: 6vw;
  opacity: 1;
  background: rgba(46, 46, 46, 0.54);
}


.logo.bitmoji.nav:hover {
  background: rgba(46, 46, 46, 0);
  /*padding: 0.4vw 0.6vw;*/
  /* border: 2px solid #999; */
  /* border: solid #fff 4px !important; */
}

/* wait times page */

.wt .black-2 {
  -webkit-animation: typing-middle 2.5s steps(20, end), /* # of steps = # of characters */
  blink-caret 1s step-end infinite !important;
  -moz-animation: typing-middle 2.5s steps(20, end), /* # of steps = # of characters */
  blink-caret 1s step-end infinite !important;
}

/* Home page */

.homey .black  {
  -webkit-animation: typing 2.5s steps(15, end), /* # of steps = # of characters */
  blink-caret 1s step-end infinite !important;
  -moz-animation: typing 2.5s steps(15, end), /* # of steps = # of characters */
  blink-caret 1s step-end infinite !important;
}

/* real time page */

.rt .black {
  -webkit-animation: typing-long 2.5s steps(20, end), /* # of steps = # of characters */
  blink-caret 1s step-end infinite !important;
  -moz-animation: typing-long 2.5s steps(20, end), /* # of steps = # of characters */
  blink-caret 1s step-end infinite !important;
}


/* About page */

/*.about .footer-social-icons,
.about .footer-social-icons.show,
.about .background_img_home,
body.about {
background: #111 !important;
}

.about .shadow {
box-shadow: 0 5px 30px rgba(0,0,0,.06) !important;
-moz-box-shadow: 0 5px 30px rgba(0,0,0,.06) !important;
-webkit-box-shadow: 0 5px 30px rgba(0,0,0,.06) !important;
}*/

.about .photo_min.hero {
  background-size: contain !important;
  height: 28.5vw !important;
  margin-top: 0;
}

/*.about  .container_box {
padding-top: 0;
}*/

/*.about_bg {
background: #111 !important;
z-index: 999999;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}*/

.about .black {
  -webkit-animation: typing-short 2.5s steps(10, end), /* # of steps = # of characters */
  blink-caret 1s step-end infinite !important;
  -moz-animation: typing-short 2.5s steps(10, end), /* # of steps = # of characters */
  blink-caret 1s step-end infinite !important;
}

.fixed-nav .logo.bitmoji,
.quote_avatar .fa {
  cursor: pointer;
  /*width: 1.2vw;
  height: 1vw;
  opacity: 0;*/
  -webkit-transition: all 0.7s cubic-bezier(0.500, -0.010, 0.000, 1);
  -moz-transition: all 0.7s cubic-bezier(0.500, -0.010, 0.000, 1);
  -o-transition: all 0.7s cubic-bezier(0.500, -0.010, 0.000, 1);
  transition: all 0.7s cubic-bezier(0.500, -0.010, 0.000, 1);
}

/*
.title_box_in_style_3.center,
.center {
text-align: center !important;
margin-bottom: 0;
padding-bottom: 0;
}*/

/*@media (-webkit-min-device-pixel-ratio: 1) and (max-width: 990px) {*/

@media (-webkit-min-device-pixel-ratio: 1) and (max-width: 1024px) {



}
