
/* Core layout */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  /*font-weight:*/ 300;
}

/*.gif_bg {
padding: 0;
margin: 0;
background-image: url('../img/car_timelapse.gif');
background-size: cover !important;
padding: 0;
margin: 0;
left: 0;
top: 0;
width: 100%;
height: 100%;
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
z-index: 222222222;
position: fixed;
opacity: 0.06;
display: block;
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease;
}*/

/*.gif_bg video {
background-image: url('../img/sf_timelapse.gif');
background-size: cover !important;
padding: 0;
margin: 0;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 222222222;
position: fixed;
opacity: 0.2;
display: block;
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease;

}*/

.gif_bg.anim_1 {
  opacity: 0 !important;
}

span.snip {
  opacity: 0 !important;
  margin-top: -10vw;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.subby + .white-links.show,
.social-icons.upper_nav,
.title_box_in_style_3.maven_b + div {
  color: rgba(0,0,0,.54) !important;
  text-align: left !important;
  font-size: 18px !important;
  letter-spacing: normal !important;
  width: 50%;
  float: left;
  padding-right: 3vw !important;
  height: fit-content;
}

.title_box_in_style_3.maven_b + .footer-social-icons {
  color: rgba(0,0,0,.54) !important;
  text-align: left !important;
  font-size: 18px !important;
  letter-spacing: normal !important;
  width: 50%;
  float: left;
  padding-right: 3vw !important;
  height: fit-content;
}

.title_box_in_style_3.maven_b + div + div {
  padding-right: 0 !important;
  margin-top: -3.5vw !important;
}

.social-icons.upper_nav{
  padding: 0vh 0 8vh 0 !important;
  margin-top: -8vh;
  opacity: 0 !important;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.social-icons.upper_nav.anim_1 {
  opacity: 0.54 !important;
}

span.snip.anim_1{
  opacity: 1 !important;
}

.social-icons.upper_nav li {
  letter-spacing: normal !important;
  /*font-weight:*/ normal;
  color: #fff;
  font-size: 1.3vw;
  line-height: 5vw;
  font-style: italic;
  font-family: 'Georgia', 'sans-serif' !important;
  text-transform: lowercase !important;
  border-right: 1px solid #666;
  padding: 0.5vh 1.9vw 0.5vh 0vw;
}

.social-icons.upper_nav li:last-child {
  border-right: none;
  margin-right: 0;
}

.container_box#content > .box_in_style_3.box_in_style_4.anim_box_1-5.introduction.main_block.show.center.quotes-block {
  height: auto;
  /* padding-bottom: 14vw; */
}

.details ul+ul+ul+ul,
.name {
  display: none;
}

.container_box,
.container_box_2 {
  /*left: calc(50% - 36vw);
  width: 73% !important;*/
  z-index: 99999999 !important;
  left: 0;
  width: 100% !important;
  text-align: center !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  opacity: 0 !important;
}


.box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
  /*padding: 6vw 10vw 7vw 10vw;*/
  /* padding: 6vw 12vw 9vw 12vw; */
  /* padding: 4vw 12vw 12vw 12vw; */
  padding: 13vmax 15% !important;
  /* padding: 6vw 12vw 18vw 12vw; */
}

.contact {
  margin-bottom: 5vw;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything.anim {
  background: #000 !important;
  background-size: cover !important;
}

.homepage .black-everything + .box_style_2 + .box_style_2,
.homepage .black-everything + .box_style_2
 {
   /* border-right: 3px solid #000 !important; */
   background-color: #000;
}

.homepage .black-everything + .box_style_2 + .box_style_2
 {
   border-right: 0 !important;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything.anim .skills,
.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything.anim .clients,
.homepage .box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything.anim .maven_b.clients
  {
  color: #fff !important;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything.anim .white-links.show,
.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything.anim .maven_b.clients span.section,
.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything.anim .problem,
.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything.anim .problem a {
  color: rgba(255,255,255,0.54) !important;
  font-family: inherit;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything.anim .maven_b.clients span.section.openline:after  {
  background: rgba(255,255,255,0.54) !important;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything.anim > .details.anim_1:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -33;
  background: rgba(0,0,0,0.7);
  pointer-events: none;
}

.homepage .box_style_2  {
  /* margin: 0 0vw 2vw 2vw !important; */
  background-color: transparent;
  /* box-shadow: 0 0 0 10px #fff; */
  /* border-right: 3px solid rgba(0,0,0,.03) !important; */
}

/* .black-everything + .box_style_2,
.black-everything + .box_style_2 + .box_style_2  {
  box-shadow: 0 0 0 10px #000 !important;
} */

.homepage .box_style_2 + .box_style_2  {
  border-right: 0 !important;
}

.homepage .box_style_2.full-width {
  /* margin: 0 1vw 2vw 1vw !important; */
  /* background-color: #fafafa; */
  background-color: #fff;
}

    /* Sub colors */

    /*.homepage .box_style_2.blue {
      background-color: #F4F8FF;
    }

    .homepage .box_style_2.blue {
      background-color: #F4F8FF;
    }*/

.photo_min.box_style_2.no_bg {
  background-color: transparent !important;
}

.homey .homepage .box_style_2 {
  /* margin: 1vw 0vw 1vw 2vw !important */
}

.photo_min {
  /*height: 24vw !important;*/
  /* width: 47% !important; */
  width: 50% !important;
  padding: 0 !important;
  background-size: cover !important;
  float: left;
  border-radius: 0 !important;
  /*margin: 4vw !important;*/
}

.floaty-wrap {
  margin: 96px 0 0 0;
  /* left: calc(50% - 70vw) !important; */
  /* width: 50%; */
  width: 50%;
}

.skillz > .floaty-wrap {
  margin: 96px 0 0 0;
  /* left: calc(50% - 70vw) !important; */
  /* width: 50%; */
  width: 33% !important;
}

span.section {
  width: 15vw;
  margin: 0 auto;
  font-size: 20px !important;
  line-height: 3rem;
  letter-spacing: normal !important;
}

hr {
  left: 0;
  /*display: block;*/
  /*width: 100%;*/
  /* margin-top: 10vw; */
  /*display: none;*/
}

.homey a.ftr-link {
  margin-bottom: 0;
}

.details {
  text-align: center;
  margin-left: 8vw;
}

.details ul {
  width: 8.5vw;
  margin: 3vw 0 0 0;
  margin-right: calc(50% - 21.5vw);
  font-size: 22px;
  line-height: 2.3rem;
}
/*
.center .photo_min.medium {
  background-size: 65% !important;
  height: 27vw !important;
}*/

.center .homepage .photo_min.smaller,
.center .photo_min.medium {
  background-size: 55% !important;
}

/*.center .homepage .photo_min.smaller {
height: 27vw !important;
}*/

.center .photo_min.extra.small,
.center .photo_min.small,
.center .photo_min.bars {
  background-size: 50% !important;
}

.main_block.more {
  border-top: none;
  padding: 5vw 19vw 10vw 19vw !important;
}

.skillz .floaty-wrap a {
  pointer-events: none;
}

.skillz .floaty-wrap a i {
    pointer-events: none;
    content: '';
    /* float: left; */
    width: auto;
    /* position: absolute; */
    left: 50%;
    font-size: 36px !important;
    text-align: center;
    color: #555 !important;
}

/* .skillz .floaty-wrap a i:before {
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  padding: 15px;
} */

.photo_min.float-left {
  float: left !important;
  margin-right: 3vw;
  width: 18vw !important;
  height: 18vw !important;
  background-size: cover !important;
}

.float-left .fa-dribbble {
  width: auto;
}

.horizontal .progress-bar {
  /* float: left; */
  text-align: center;
  height: 3px;
  width: 10vw;
  padding: none;
  line-height: 17vh;
  /* margin: 3vh 5vw; */
  margin: auto;
  display: inherit;
  /* vertical-align: middle; */
  /* margin: 5vw; */
  margin-right: 2vw;
}

.horizontal .progress-bar span {
  line-height: 10vh;
}

.horizontal .progress-bar + .horizontal .progress-bar {
  margin-right: none;
}

@media (max-height: 860px) {

  .subby {
    display: none !important;
  }

}

@media (max-height: 1360px) {

  /* .social-icons.upper_nav,
  .title_box_in_style_3.maven_b,
  .title_box_in_style_3.maven_b + div {
    line-height: 2rem !important;
  } */

  /* .box_in_style_3.box_in_style_4.anim_box_1-5.introduction .maven_b.clients {
    padding-bottom: 30px;
  } */


  .title_box_in_style_3.maven_b + div + .details,
  .subby,
  .details ul {
    display: none !important;
  }


}
