  body {
    font-family: 'Open Sans',helvetica, sans-serif;
    font-family: 'Raleway', 'Helvetica', 'sans-serif';
  	/*font-weight:*/ 100;
  	text-transform: lowercase;
    /*font-family: 'Montserrat', helvetica, sans-serif !important;
    font-family: 'Amatic SC', helvetica, sans-serif !important;*/
    /*font-family: 'Shadows Into Light', helvetica, sans-serif !important;/*)
    /*font-weight:*/ 600;
    /*background: #224347;
    background: #0c172b;
    background: #2a3339;
    background: #3a2f35;
    background: #C2185B;
    background: #24181d;
    background: #222;
    background: #372b42;
    background: #202429;
    background: #DB4437;
    background: #222;*/
    background: #E91E63;
    background: #2B566C;
    /*background: #222;
    background: #fff;*/
    height: 100%;
    overflow-x: hidden;
    font-style: italic;
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('fonts/MonoSocialIconsFont-1.10.eot');
    src: url('fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    /*font-weight:*/ normal;
    font-style: normal;
}


html,
body,
form
fieldset,
p,
div,
h1,
h2,
h3,
h5,
h6 {
    text-size-adjust: none  ;
    -webkit-text-size-adjust: none  ;
    -moz-text-size-adjust: none  ;
}

* {
    margin: 0;
    padding: 0;
}


.black-white {
  -webkit-filter: grayscale(100%);
  filter: gray; filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
}
p a {
  transition: all .5s  ;
  -o-transition: all .5s  ;
  -webkit-transition: all .5s  ; /* Safari */
  -moz-transition: all .5s  ; /* Moz */
}

a:hover {
  color: rgba(255,255,255,1) !important;
}


/*ul.portfolio li .teaser img,
.views {
    -webkit-filter: grayscale(100%);
  filter: gray; filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
}
#avatar-wrap-2 {
    -webkit-filter: grayscale(50%);
  filter: gray; filter: grayscale(50%);
  filter: url(desaturate.svg#greyscale);
}*/
.cubic {
    /*-webkit-transition: all .3s cubic-bezier(.8, .01, .10, 1.8);
    -moz-transition: all .3s cubic-bezier(.8, .01, .10, 1.8);
    -o-transition: all .3s cubic-bezier(.8, .01, .10, 1.8);*/
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
}


.zoom {
    transform: scale(1.30) !important;
    -o-transform: scale(1.30) !important;
    -webkit-transform: scale(1.30) !important;
    -moz-transform: scale(1.30) !important;
    transition: all .6s !important ;
    -o-transition: all .6s !important ;
    -webkit-transition: all .6s !important ; /* Safari */
    -moz-transition: all .6s !important ; /* Moz */
    z-index: 99999999999999;

}
.imgcontainer {
    margin: 0;
    width: 100% !important;
    overflow: hidden;
}

.portfolio img{
    opacity: 0;
    z-index: 1;
    width: 100%;
}


#spin2 {
    display: none;
}

#cover p.hdr {
    z-index: 222222;
    position: fixed !important;
    top: calc(50% - 14%);
    left: 0;
    right: 0;
    padding: 0;
    bottom: 0;
    /* float: left; */
    display: block;
    height: 100%;
    width: 22% !important;
    margin-top: 0;
    text-align: left !important;
    margin: 0 auto;
    color: #fff;
    font-size: 2.2em;
    /*font-weight:*/ 800;
    line-height: 1.8em;
    text-transform: uppercase;
    /* max-width: 40%; */
    letter-spacing: 3px;
    transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    margin-left: calc(50% - 36%);
    transition: all 1s  ;
    -o-transition: all 1s  ;
    -webkit-transition: all 1s  ; /* Safari */
    -moz-transition: all 1s  ; /* Moz */

}

.open-main {
  margin-top: 30px !important;
  transition: all 1s  ;
    -o-transition: all 1s  ;
    -webkit-transition: all 1s  ; /* Safari */
    -moz-transition: all 1s  ; /* Moz */
}

#cover p a {
    margin-right: 15px;
    color: rgba(255,255,255,.6);
    text-decoration: none;
}

#cove p a:hover {
    color: rgb(255,255,255,255,1) !important;
}

#nav-toggle {
    top: -20px;
    left: 30px;
    position: fixed;
    z-index: 99999999999;
    width: 50px;
    height: 50px;
    display: block;
    transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}

#nav-toggle:hover {
    opacity: .5;
}

#nav-toggle.show-nav {
    top: 40px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  height: 4px;
  width: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  color: #fff;
  z-index: 22222222222;
}
#nav-toggle span:before {
  top: -8px;
}
#nav-toggle span + #nav-toggle span {
  width: 15px !important;
}
#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.trigger {
    color: #fff;
    font-size: 40px;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 22222222222;
}


#cover .overlay-wrap {
    z-index: 99999999;
    position: relative;
    height: 0;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    top: 0;
    /* float: left; */
    left: 0;
    bottom: 0;
    /* border-top: 1px solid #fff; */
    margin: 0 120px;
    margin-top: 0px;
    opacity: 0;
}

#cover .overlay-wrap p.hdr {
    margin-top: 10px;
    /* left: -18px; */
    width: 22%;
    transition: all 1s !important;
    -o-transition: all 1s !important;
    -webkit-transition: all 1s !important;
    -moz-transition: all 1s !important;
}

.open-text {
    opacity: 1 !important;
    margin-top: -20px !important;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}


.overlay-bg {
    background: #224455;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 222;
}

.open-overlay {
    opacity: 1 !important;
    height: 110%;
    margin-top: -80px !important;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.show-bg {
    opacity: 1 !important;
    height: 110%;
    margin-top: 0 !important;
}

.sub-text {
    color: rgba(255,255,255,.6) !important;
    letter-spacing: 3px !important;
    font-size: 1.3em;
    font-size: 20px;
    text-transform: lowercase;
    line-height: 60px;

}


.show-intro {
    opacity: 1 !important;
    margin-top: 0 !important;
}

.hide-hdr {
    opacity: 0 !important;
    top: calc(50% - 12%) !important;

}
.spin-remove {
    opacity: 1 !important;
    color: #fff;
    transition: all 2s cubic-bezier(0, 0, 0, 1.3);
    -webkit-transition: all 2s cubic-bezier(0, 0, 0, 1.3);
    -moz-transition: all 2s cubic-bezier(0, 0, 0, 1.3);
    -o-transition: all 2s cubic-bezier(0, 0, 0, 1.3);
    top: 0;
    position: relative;

}
.other-gone {
    opacity: 0 !important;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.spin-gone {
    opacity: 0 !important;
    z-index: -1 !important;
    margin-top: 0 !important;
}
.no-space {
    min-height: 100px;
    padding: 0;
}

.fast {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.flex {
    width: 100% !important;
}

.hide {
    opacity: 0 !important;
    transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    -webkit-transition: all 1.5s ease-in-out;
    bottom: -440px !important;

}


/* Material preloader */

#spin {
    transition: all .8s cubic-bezier(.4, .01, .10, 1.5);
    -webkit-transition: all .8s cubic-bezier(.4, .01, .10, 1.5);
    -moz-transition: all .8s cubic-bezier(.4, .01, .10, 1.5);
    -o-transition: all .8s cubic-bezier(.4, .01, .10, 1.5);
}

.circular{
    -webkit-animation: rotate 2s linear infinite;
    height: 50px;
    width: 50px;
    left: 50%;
    position: absolute;
    top: 20%;
    zoom: 1;
    margin-top: -30px;
    margin-left: -30px;
    transition: all .8s cubic-bezier(.4, .01, .10, 1.5);
    -webkit-transition: all .8s cubic-bezier(.4, .01, .10, 1.5);
    -moz-transition: all .8s cubic-bezier(.4, .01, .10, 1.5);
    -o-transition: all .8s cubic-bezier(.4, .01, .10, 1.5);

}

.mobile {
    display: none;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -web kit-transition: all .6s ease-in-out;
}

.path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1s cubic-bezier(0, 0, 1, 1) infinite, color 7s cubic-bezier(0, .01, .10, 7.5) infinite;
    stroke-linecap: round;
    stroke: #EA4C89;
    stroke: #9C27B0;
    stroke: #111;
    stroke: rgba(255,255,255,1);
    stroke: #E91E63;
    stroke: #fff;
}


.intro-wrap {
    width: 100%;
    background: #fff;
    height: 670px;
    background-size: cover;
}

.move-intro {
    height: 50% !important;
    top: 24% !important;
}

/* Portfolio */


ul.portfolio li .teaser img:hover {
    -webkit-filter: grayscale(100%);
  filter: gray; filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
}

.teaser span {
    /*  display: none; */
    height: 0;
    display: none;
}

.teaser {
    margin: 0 !important;
}

.grid {
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}
.portfolio {
    width: calc(100% - 50%);
    /* max-width: 100%; */
    /* margin: 0 auto; */
    z-index: 55555555555555;
    position: absolute !important;
    margin-top: 0;
    /* left: 0; */
    right: 0;
    transition: all 4s;
    -o-transition: all 4s;
    -webkit-transition: all 4s;
    -moz-transition: all 4s;
    /* float: right; */
    /*-moz-transition: all 3s ease-in-out !important;
    -o-transition: all 3s ease-in-out !important;
    -webkit-transition: all 3s ease-in-out !important;*/
}



ul.portfolio .imgcontainer li,
ul.portfolio-2 .imgcontainer li,
ul#instagram li {
    float: left;
}

ul.portfolio li {
    /*max-width: 22.3%  ;*/
    position: relative;
    height: auto;
    margin: 0;
    display: block;
    margin: 0;
}


ul.portfolio li a span:hover {
    opacity: .8;

}

ul.portfolio li img {
    transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transition: all 2s  ;
    -o-transition: all 2s  ;
    -webkit-transition: all 2s  ; /* Safari */
    -moz-transition: all 2s  ; /* Moz */
}

.transition,
a#avatar-wrap-2.show-face.more-avatar.transition {

    transition: all 0s !important;
    -o-transition: all 0s !important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;

}

.views {
    text-indent: 30px;
    height: 100%;
    position: relative;
    letter-spacing: 3px;
    bottom: -5px;
    left: 0;
    opacity: 0;
    width: 100%  ;
    z-index: 5;
    clear: both;
    color: rgba(255,255,255,1);
    color: rgba(0,0,0,.8);
    color: #111;
    font-size: 13px !important;
    margin: 0;
    padding: 0;
    float: left;
    line-height: 20px;
    pointer-events: none;
    /* -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;*/
    transition: all .6s cubic-bezier(.7, .01, .10, 1);
    -moz-transition: all .6s cubic-bezier(.7, .01, .10, 1);
    -o-transition: all .6s cubic-bezier(.7, .01, .10, 1);
    -webkit-transition: all .6s cubic-bezier(.7, .01, .10, 1);
    /*font-weight:*/ 400;
    display: none;
}
/*.facebook span.views,
.dribbble span.views,
.linkedin span.views,
.instagram span.views {
    pointer-events: inherit;
}*/
.count {
    color: rgba(255,255,255,1);
    z-index: 23455;
    /*font-weight:*/ 600;
    position: absolute;
    padding-top: 20px;
    opacity: 0;
    margin-top: -60px;
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform-origin: 0 0;
    transition: all .8s cubic-bezier(.8, .01, .10, 1.4) !important;
    -webkit-transition: all .8s cubic-bezier(.8, .01, .10, 1.4) !important;
    -moz-transition: all .8s cubic-bezier(.8, .01, .10, 1.4) !important;
    -o-transition: all .8s cubic-bezier(.8, .01, .10, 1.4) !important;
    max-width: 55%;
    text-align: left;
    text-indent: 0;
    left: 30px;
    word-wrap: break-word;
    display: none;
}
.show-count {
    opacity: 1;
    margin-top: 0;
}
.scrim {
    opacity: 1;
    left: -255px;
    width: 204%;
    clear: both;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    position: absolute;
    top: -610px;
    bottom: 0;
    height: 1200px !important;
    -webkit-clip-path: circle(100%);
    transition: all .3s cubic-bezier(.7, .01, .10, 1) !important;
    -moz-transition: all .3s cubic-bezier(.7, .01, .10, 1) !important;
    -o-transition: all .3s cubic-bezier(.7, .01, .10, 1) !important;
    -webkit-transition: all .3s cubic-bezier(.7, .01, .10, 1) !important;
    /*background: -moz-linear-gradient(top,  rgba(0,0,0,0) 10%, rgba(0,0,0,0.08) 22%, rgba(0,0,0,0.6) 100%); ;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(0,0,0,0)), color-stop(22%,rgba(0,0,0,0.08)), color-stop(100%,rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 10%,rgba(0,0,0,0.08) 22%,rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 10%,rgba(0,0,0,0.08) 22%,rgba(0,0,0,0.6) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 10%,rgba(0,0,0,0.08) 22%,rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 10%,rgba(0,0,0,0.08) 22%,rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
    background: rgba(34, 34, 34, 0.9);*/
    background: #9C27B0;
    background: #0c172b;
    background: #21c0fb;
    background: #111;
    background: rgba(42, 51, 57,.9);
    background: rgba(58, 47, 53, 0.8);
    background: rgba(0,0,0,0.8);
    background: rgba(34, 34, 34, 0.85);
    background: rgba(55, 43, 66, 0.85);
    background: rgba(52, 51, 51, 0.75);
    background: rgba(31,36,41,0.75);
    background: rgba(31,36,41, .6);
    background: rgba(43,86,108, .7)

}


/* Spinner bounce
------------------- */

#spin {
    z-index: 99999999999999999;
    -webkit-animation-name: bounceball;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0;
    -webkit-animation-timing-function: ease-out;

    animation-name: bounceball;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0;

    timing-function: ease-out;

    animation-play-state: running;
    animation-fill-mode: none;

    position: fixed;
    top:  calc(100% - 50%);
    left:  calc(100% - 50%);
    text-align: center;
    padding-bottom: 40px;
}

.spinner {
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    opacity: 0;
}

/*.cover-image {
    opacity: .9 !important;
}*/


.fetching {
    color: rgba(0,0,0,.54);
    font-size: 11px;
    /*font-weight:*/ 400;
    text-align: center;
    letter-spacing: 4px;
    top: -100px;
    opacity: 0 !important;
    text-transform: uppercase;
}
.fetching img {
    width: 50px;
    height: 50px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.kerning {
    letter-spacing: 700px !important;
    transition: all 1s  ;
    -o-transition: all 1s  ;
    -webkit-transition: all 1s  ; /* Safari */
    -moz-transition: all 1s  ; /* Moz */
    text-indent: -2100px !important;
    clear: both;
}
/*
@-webkit-keyframes bounceball {
from {
opacity: 0; }
to   {
opacity: 1; }
}
.reverse {
letter-spacing: normal !important;
}
*/

@-webkit-keyframes rotate{
    100%{
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes dash{
    0%{
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dasharray: 89,100;
        stroke-dashoffset: -35;
    }
    100%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}

.fadeMeIn {
    opacity: 1  !important;
    /*transition: all 2s  ;
    -o-transition: all 2s  ;
    -webkit-transition: all 2s  ;
    -moz-transition: all 2s  ; Moz */
}

.portfolio li:nth-child(37) {
    display: none !important;
}

@media (max-height: 500px) {

#cover p.hdr {
    /*font-size: 2.3em !important;*/
    margin-top: -30px !important;
}

}

@media (max-height: 400px) {

#cover p.hdr {
    /*font-size: 2.3em !important;*/
    margin-top: -50px !important;
    font-size: 16px !important;
}

}


@media (min-height: 1400px) {

#avatar-wrap-2 {
    width: 80px;
    height: 80px;
}


/*.sub-text {
    font-size: .3em !important;
}
*/
}

@media (max-width: 1200px) {

    #cover p.hdr {
        margin-top: -20px;
    }

    .sub-text {
        font-size: 15px !important;
    }
}


@media (max-width: 1000px) {

    .sub-text {
        font-size: 13px !important;
    }
}


@media (max-width: 800px) {

/* ------ 680px min width ------
==================================================
==================================================
================================================== */

/*body {
    zoom: .7 !important;

}*/

.black-white {
  -webkit-filter: grayscale(0%);
  filter: gray; filter: grayscale(0%);
}


.portfolio {
    top: 0 !important;
    padding-bottom: 0;
    left: 0;
    right: 0;
    width: calc(100%) !important;
    z-index: 9;

}

.ftr-2,
#button,
.cover-image,
#avatar-wrap-2,
#cover .main {
    opacity: 0 !important;
}
#cover p.hdr {
  font-size: 20px !important;
  width: 65% !important;
  top: 200px !important;
}

.scrim {
    width: 220% !important;
}


}
