.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

.section.body.big-grid {
  display: -ms-grid;
  display: grid;
  padding-right: 0px;
  padding-left: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 3vw;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section.body.hero-2 {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  padding-top: 10vh;
  padding-bottom: 5vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: hsla(0, 0%, 100%, 0);
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid._2-up {
  padding: 5vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
}

.grid._2-up.slim {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding-top: 2vw;
  padding-bottom: 2vw;
  -ms-grid-row-align: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid._2-up.tall {
  padding-top: 15vh;
  padding-bottom: 15vh;
  grid-row-gap: 6vw;
}

.grid._1-up {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  text-align: center;
}

.grid.skill {
  padding: 5vw;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.heading {
  font-family: Helveticaneue, sans-serif;
  font-size: 6vw;
  line-height: 4vw;
  font-weight: 500;
  text-transform: lowercase;
}

.heading.black {
  font-family: Helveticaneue, sans-serif;
  font-size: 4vw;
  line-height: 100%;
}

.heading.black.medium {
  margin-bottom: 0px;
  color: #000;
  font-size: 2vw;
  line-height: 3vw;
  text-decoration: none;
}

.heading.black.medium.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  font-size: 1.2vw;
  line-height: 2.2vw;
  font-weight: 400;
  cursor: none;
}

.heading.black.medium.link:hover {
  position: relative;
}

.heading.black.medium.link.w--current {
  color: #0706ff;
}

.heading.black.medium.link.left {
  position: relative;
  margin-left: 0px;
  color: #000;
  line-height: 2.2vw;
  font-weight: 400;
  text-align: center;
}

.heading.black.medium.body {
  margin-top: auto;
  font-size: 1.2vw;
  line-height: 2.2vw;
  font-weight: 400;
}

.heading.black.medium.body.project-hdr {
  font-size: 2.5vw;
  line-height: 3.5vw;
  font-weight: 500;
}

.heading.black.numbers {
  padding-top: 2vh;
  padding-bottom: 2vh;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 10vw;
}

.heading.small {
  margin-bottom: 0px;
  color: #000;
  font-size: 1.2vw;
  line-height: 2.2vw;
  font-weight: 400;
  text-decoration: none;
}

.heading.small.date {
  padding: 2px 8px;
  border-radius: 40px;
  box-shadow: inset 0 0 0 1.5px #000;
  font-size: 1vw;
  line-height: 2vw;
}

.heading.small.rotate {
  font-size: 1.3vw;
  font-weight: 500;
}

.heading.small.rotate.plus {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-top: 0px;
  padding-bottom: 4px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 400;
  text-align: center;
}

.body {
  font-size: 1vw;
  line-height: 2vw;
}

.body.black {
  margin-top: 10px;
  margin-bottom: auto;
  color: #000;
  font-size: 1.5vw;
  line-height: 2.5vw;
}

.grid-vertical {
  grid-column-gap: 0px;
  grid-row-gap: 2vw;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-vertical.numbers-grid {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5vw;
  padding-bottom: 5vw;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 471px;
  perspective: 471px;
  -webkit-perspective-origin: 100% 50%;
  perspective-origin: 100% 50%;
  -webkit-transform: perspective(647px);
  transform: perspective(647px);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.grid-vertical.text-block {
  grid-row-gap: 1vw;
}

.grid-vertical.divider {
  width: 60vw;
  justify-items: start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mask {
  position: relative;
  z-index: 4;
  overflow: hidden;
  margin-top: 0px;
  padding-bottom: 0vw;
}

.mask.right-nav {
  z-index: 7;
  display: -ms-grid;
  display: grid;
  width: 20vw;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.25fr 1fr 1fr 1fr;
  grid-template-columns: 0.25fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.mask.right-nav.sections-nav {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  overflow: visible;
  width: auto;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-transform: translate(6vw, 0px);
  -ms-transform: translate(6vw, 0px);
  transform: translate(6vw, 0px);
  text-align: center;
}

.mask.right-nav.hide {
  width: auto;
  grid-auto-flow: column;
  grid-auto-columns: 0.5fr;
  grid-column-gap: 2vw;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.mask.numbers-mask {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  padding-top: 0vh;
  padding-right: 0vw;
}

.mask.auto {
  overflow: visible;
}

.video {
  overflow: hidden;
  padding: 10vw 15vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.video.slim-video {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding: 0vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.video.slim-video.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.thumbnail {
  width: 40vw;
}

.thumbnail.narrow {
  width: 23vw;
}

.thumbnail.video.mock-video {
  overflow: visible;
  width: 27vw;
  -o-object-fit: fill;
  object-fit: fill;
}

.thumbnail.scale {
  position: relative;
  width: 50vw;
}

.image {
  position: relative;
  display: block;
  padding: 3vw 3vw 0vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.image.grid {
  display: -ms-grid;
  display: grid;
  padding: 10vw 5vw;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.image.image-grid {
  display: -ms-grid;
  display: grid;
  padding-right: 15vw;
  padding-bottom: 3vw;
  padding-left: 15vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 17vw;
  grid-row-gap: 8vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image.image-grid.small {
  padding: 8vw 16vw;
  grid-column-gap: 19vw;
  grid-row-gap: 10vw;
}

.grid-nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2vw 2vw 1vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.load-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transform: translate(-70vw, 0px);
  -ms-transform: translate(-70vw, 0px);
  transform: translate(-70vw, 0px);
  line-height: 3vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.load-block.black {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(-100vw, 0px);
  -ms-transform: translate(-100vw, 0px);
  transform: translate(-100vw, 0px);
}

.cursor-dot {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 1vw;
  height: 1vw;
  border-style: none;
  border-width: 0.5vw;
  border-color: #fff;
  border-radius: 50%;
  background-color: #000;
  box-shadow: none;
}

.cursor-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 12;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cursor-circle {
  position: absolute;
  display: block;
  width: 4vw;
  height: 4vw;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.32);
  border-radius: 50%;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.body-3 {
  background-color: #000;
  cursor: none;
}

.link-wrap {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 2.5vw;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
  color: #000;
  text-align: center;
  text-decoration: none;
  cursor: none;
}

.link-wrap.w--current {
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: #000;
  text-decoration: none;
}

.link-wrap.fixed {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-right: 2vw;
  margin-bottom: 1vw;
}

.loader-wrap {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.image-2 {
  position: relative;
  width: 20vw;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.image-2.hide {
  display: none;
}

.scroll-bar {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 12;
  width: 0.3vw;
  height: 10vh;
  border-radius: 20px;
  background-color: #000;
}

.thumb {
  width: 100%;
}

.image-thumb {
  width: 100%;
  max-width: none;
}

.loader-embed {
  width: 250px;
  height: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Helveticaneue, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 2.2vw;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.15vw;
  text-transform: lowercase;
}

.cover {
  position: relative;
}

.scroll-grid {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 100%;
  padding: 16px;
  justify-items: end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-4 {
  overflow: hidden;
  height: 10vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.slide-in {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-color: #fff;
}

.rotate-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0vw;
  margin-bottom: 0vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  justify-items: start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 0.25fr 1fr;
  grid-template-columns: 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.plus-wrap {
  position: relative;
  display: none;
  overflow: hidden;
  width: 30px;
  height: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 3vw;
  text-align: center;
}

.plus-wrap.hide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  margin-right: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  font-size: 100%;
  line-height: 100%;
}

.header {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 11;
}

.fake-top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0);
}

.grid-5 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-7 {
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.grid-6 {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.grid-skills {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.grid-more {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hover-strip {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  padding-bottom: 0px;
  background-color: #000;
  -webkit-transform: translate(0px, 4vw);
  -ms-transform: translate(0px, 4vw);
  transform: translate(0px, 4vw);
}

@media screen and (min-width: 1280px) {
  .section.body.big-grid {
    justify-items: center;
  }

  .heading.small.rotate.plus {
    height: 2.2vw;
  }

  .video {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .cursor-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .section.body.big-grid {
    padding-right: 10vw;
    padding-left: 10vw;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid._2-up {
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .grid._1-up {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .heading.black.medium.body {
    margin-bottom: 2vw;
    line-height: 2.5vw;
  }

  .heading.black.medium.body.project-hdr {
    margin-bottom: 0vw;
    color: #000;
  }

  .heading.numbers.black {
    font-size: 9vw;
  }

  .mask.right-nav.sections-nav {
    overflow: visible;
  }

  .mask.numbers-mask {
    padding-right: 0vw;
  }

  .video {
    display: -ms-grid;
    display: grid;
    padding-right: 10vw;
    padding-left: 10vw;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .thumbnail.narrow {
    width: 22vw;
  }

  .thumbnail.scale {
    width: 40vw;
  }

  .image {
    padding: 3vw 10vw;
  }

  .cursor-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .thumb {
    width: 60vw;
  }

  .rotate-wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1920px) {
  .section.body.big-grid {
    padding-right: 0vw;
    padding-left: 0vw;
  }

  .section.body.hero-2 {
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .grid._2-up {
    padding-top: 5vw;
    padding-right: 5vw;
    padding-left: 5vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid._2-up.tall {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .grid._1-up {
    position: relative;
  }

  .heading.black {
    font-size: 3vw;
    line-height: 100%;
  }

  .heading.black.medium.body {
    margin-bottom: 0vw;
    font-size: 1.5vw;
    line-height: 2vw;
  }

  .heading.numbers.black {
    font-size: 7vw;
  }

  .heading.small.date {
    padding-right: 15px;
    padding-left: 15px;
  }

  .heading.small.rotate.plus {
    line-height: 100%;
  }

  .grid-vertical.text-block {
    grid-row-gap: 3vw;
  }

  .grid-vertical.divider {
    justify-items: center;
  }

  .mask.right-nav.sections-nav {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .mask.auto {
    overflow: visible;
  }

  .video {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 25vw;
    padding-left: 25vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .video.slim-video {
    padding: 2vw 5vw;
    grid-row-gap: 1vw;
  }

  .thumbnail {
    width: 33vw;
  }

  .thumbnail.narrow {
    width: 20vw;
  }

  .thumbnail.video.mock-video {
    width: 20vw;
    padding: 0vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .thumbnail.scale {
    width: 30vw;
  }

  .image {
    padding: 3vw;
  }

  .image.grid {
    display: -ms-grid;
    display: grid;
    padding: 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .load-block.black {
    background-color: rgba(66, 66, 66, 0.15);
  }

  .link-wrap {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .thumb {
    width: 55vw;
  }

  .plus-wrap.hide {
    display: none;
  }

  .header {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media screen and (max-width: 991px) {
  .video {
    position: relative;
    cursor: none;
  }

  .image {
    width: 100%;
    padding: 3vw;
  }

  .link-wrap:active {
    opacity: 0.5;
  }

  .loader-embed {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .section.body.hero-2 {
    height: 50vh;
  }

  .grid._2-up {
    display: -ms-grid;
    display: grid;
    padding: 5vw 15vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    grid-auto-columns: 1fr;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: center;
  }

  .grid._2-up.slim {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading.black {
    font-size: 30px;
    line-height: 100%;
  }

  .heading.black.medium.link {
    font-size: 16px;
    line-height: 24px;
  }

  .heading.black.medium.link.left {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    cursor: auto;
  }

  .heading.black.medium.link.left.w--current {
    font-size: 16px;
    line-height: 24px;
  }

  .heading.black.medium.body {
    margin-bottom: 0vw;
    font-size: 16px;
    line-height: 24px;
  }

  .heading.black.medium.body.project-hdr {
    font-size: 20px;
    line-height: 24px;
  }

  .heading.black.numbers {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .heading.small {
    font-size: 14px;
    line-height: 24px;
  }

  .heading.small.date {
    font-size: 12px;
    line-height: 16px;
  }

  .heading.small.rotate {
    font-size: 14px;
    text-align: left;
  }

  .body.black {
    font-size: 16px;
    line-height: 24px;
  }

  .grid-vertical.numbers-grid {
    display: none;
    width: 100%;
  }

  .grid-vertical.text-block {
    justify-items: center;
  }

  .mask {
    height: auto;
  }

  .mask.right-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .mask.right-nav.sections-nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .mask.right-nav.hide {
    display: none;
  }

  .mask.numbers-mask {
    width: 100%;
  }

  .video.slim-video.greyscale {
    padding: 1vw;
  }

  .thumbnail {
    width: 100%;
  }

  .thumbnail.narrow {
    width: 50vw;
  }

  .thumbnail.scale {
    width: 90vw;
  }

  .grid-nav {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .load-block.black {
    -webkit-transform: translate(-100vw, 0px);
    -ms-transform: translate(-100vw, 0px);
    transform: translate(-100vw, 0px);
  }

  .cursor-wrapper {
    display: none;
  }

  .body-3 {
    cursor: default;
  }

  .link-wrap {
    overflow: hidden;
    height: 24px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .image-2 {
    width: 60vw;
  }

  .scroll-bar {
    display: none;
  }

  .loader-embed {
    width: 40vw;
    font-size: 20px;
    line-height: 30px;
  }

  .plus-wrap.hide {
    display: none;
  }

  .hover-strip {
    -webkit-transform: translate(0px, 5vw);
    -ms-transform: translate(0px, 5vw);
    transform: translate(0px, 5vw);
  }
}

@media screen and (max-width: 479px) {
  .section.body {
    padding: 0vw;
  }

  .section.body.big-grid {
    padding-top: 3vw;
    padding-right: 0px;
    padding-bottom: 3vw;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .section.body.hero-2 {
    height: auto;
    padding: 10vh 0vw 0vw;
  }

  .grid._2-up {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 5vw 0vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid._2-up.slim {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid._2-up.tall {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5vw;
    padding-bottom: 5vh;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .grid._1-up {
    padding: 0vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
  }

  .grid.skill {
    padding: 1vw;
  }

  .heading.black {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }

  .heading.black.medium {
    font-size: 20px;
    line-height: 24px;
  }

  .heading.black.medium.link {
    position: relative;
    margin-left: 0px;
    float: right;
    clear: right;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    cursor: default;
  }

  .heading.black.medium.link.w--current {
    cursor: default;
  }

  .heading.black.medium.link.left {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    cursor: auto;
  }

  .heading.black.medium.link.left.w--current {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .heading.black.medium.body {
    margin-bottom: auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .heading.black.medium.body.project-hdr {
    font-size: 30px;
    line-height: 30px;
  }

  .heading.black.numbers {
    position: relative;
    display: inline-block;
    width: auto;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .heading.numbers.black {
    font-size: 60px;
    line-height: 70px;
  }

  .heading.small {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .heading.small.date {
    position: relative;
    width: auto;
    font-size: 12px;
    line-height: 16px;
  }

  .heading.small.rotate {
    position: relative;
    font-size: 16px;
  }

  .heading.small.rotate.plus {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 25px;
    line-height: 25px;
  }

  .body.black {
    font-size: 16px;
    line-height: 24px;
  }

  .grid-vertical {
    padding: 5vw;
    align-self: flex-start;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 1vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid-vertical.numbers-grid {
    display: block;
    overflow: hidden;
    width: 100%;
  }

  .grid-vertical.text-block {
    position: relative;
    display: -ms-grid;
    display: grid;
    padding: 5vw;
    justify-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 3vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .grid-vertical.divider {
    width: 100%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }

  .mask {
    overflow: hidden;
    width: auto;
    height: auto;
    margin-top: 0vw;
    margin-bottom: 0vw;
    padding-bottom: 0vw;
  }

  .mask.right-nav {
    display: block;
    padding-top: 0vw;
  }

  .mask.right-nav.sections-nav {
    position: relative;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: auto;
    margin-top: 0vw;
    margin-bottom: 0vw;
    padding: 0vw;
  }

  .mask.right-nav.hide {
    display: block;
    width: 100%;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 0.25fr 1fr 1fr 1fr;
    grid-template-columns: 0.25fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .mask.numbers-mask {
    width: 100%;
  }

  .mask.hide {
    display: none;
  }

  .video {
    padding: 0vw;
  }

  .video.slim-video {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .video.slim-video.greyscale {
    padding: 5vw;
  }

  .thumbnail {
    position: relative;
    width: 100%;
  }

  .thumbnail.narrow {
    width: 100%;
  }

  .thumbnail.icon-size {
    padding: 0vw;
  }

  .thumbnail.video.mock-video {
    width: 50vw;
  }

  .thumbnail.scale {
    width: 100%;
  }

  .image {
    padding: 5vw;
  }

  .image.grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10vw 25vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .image.image-grid {
    display: none;
    padding-right: 25vw;
    padding-left: 25vw;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .image.image-grid.small {
    display: -ms-grid;
    display: grid;
    width: 100%;
    padding: 25vw;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 19vw;
    grid-row-gap: 10vw;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .grid-nav {
    position: relative;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    padding: 5vw;
    justify-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 1vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .load-block.black {
    z-index: 1;
  }

  .cursor-dot {
    border-radius: 100%;
  }

  .cursor-wrapper {
    z-index: -1;
    display: none;
  }

  .body-3 {
    text-transform: lowercase;
    cursor: auto;
  }

  .link-wrap {
    z-index: 6;
    overflow: hidden;
    width: auto;
    height: 27px;
    margin-right: 2vw;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    cursor: default;
  }

  .link-wrap.w--current {
    border-bottom: 1px none #000;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }

  .link-wrap.fixed {
    position: relative;
    width: 100%;
    margin-bottom: 0vw;
  }

  .loader-wrap {
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: center;
  }

  .image-2 {
    width: 60vw;
  }

  .image-thumb {
    width: 100vw;
  }

  .loader-embed {
    position: relative;
    width: 60%;
    font-size: 20px;
    line-height: 30px;
  }

  .scroll-grid {
    display: none;
    height: auto;
  }

  .rotate-wrap {
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 0.25fr 1fr;
    grid-template-columns: 0.25fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .plus-wrap {
    overflow: visible;
    width: auto;
    height: auto;
  }

  .plus-wrap.hide {
    display: none;
    margin-left: 10px;
  }

  .header {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    background-color: #d3d3d3;
  }

  .grid-6 {
    display: block;
  }

  .grid-skills {
    display: block;
  }

  .grid-more {
    display: block;
  }

  .hover-strip {
    display: none;
    -webkit-transform: translate(0px, 5vw);
    -ms-transform: translate(0px, 5vw);
    transform: translate(0px, 5vw);
  }
}

#w-node-d0df8359-baf3-e4d1-41c6-9c19a66b0ede-fbd25f1e {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

#w-node-link-block-fbd25f1e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_3b3415bf-d85d-b149-bdc6-1b9afbcc94a6-fbd25f1e {
  -ms-grid-column-align: end;
  justify-self: end;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

#w-node-_6de59131-ad55-7d7b-e53d-ed05063ea5da-fbd25f1e {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

#w-node-_8fee6ee0-9f38-7708-a008-ae126f0c0dcc-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-aff69317-6086-bf42-e72f-5077735d54d7-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-aff69317-6086-bf42-e72f-5077735d54d8-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_0b2050d9-a8ba-a9eb-e4f9-152442853689-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_0b2050d9-a8ba-a9eb-e4f9-15244285368a-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-d517f9c4-496f-657a-0846-46c04659c468-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d517f9c4-496f-657a-0846-46c04659c469-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-fbcb4dd8-47ca-b97e-0614-79390a6bfe50-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-fbcb4dd8-47ca-b97e-0614-79390a6bfe51-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-fbcb4dd8-47ca-b97e-0614-79390a6bfe63-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-fbcb4dd8-47ca-b97e-0614-79390a6bfe64-fbd25f1e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-grid-2-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_3fbdce6c-ce0a-0067-b1b7-c90161665bc1-fbd25f1e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_91941d0a-2caf-84b5-705b-f62bcebdf826-cebdf826 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-e200294e-d51e-5b3a-cd59-44eaec777a18-ec777a16 {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-e200294e-d51e-5b3a-cd59-44eaec777a1d-ec777a16 {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_3243b4ab-1e73-9a4a-1b22-9171cfc25c50-6fe1bc92 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-f580ade3-ea52-e7a4-5113-579fc876dc85-c876dc84 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_50a78bcb-6d4a-32df-0417-d4f77c2b4f6c-7c2b4f6c {
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (min-width: 1920px) {
  #w-node-_0b2050d9-a8ba-a9eb-e4f9-15244285368a-fbd25f1e {
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-fbcb4dd8-47ca-b97e-0614-79390a6bfe51-fbd25f1e {
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 991px) {
  #w-node-aff69317-6086-bf42-e72f-5077735d54d7-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-d517f9c4-496f-657a-0846-46c04659c468-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-fbcb4dd8-47ca-b97e-0614-79390a6bfe63-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-d0df8359-baf3-e4d1-41c6-9c19a66b0ede-fbd25f1e {
    -ms-grid-column-align: end;
    justify-self: end;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  #w-node-_3b3415bf-d85d-b149-bdc6-1b9afbcc94a6-fbd25f1e {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-aff69317-6086-bf42-e72f-5077735d54d7-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-d517f9c4-496f-657a-0846-46c04659c468-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-fbcb4dd8-47ca-b97e-0614-79390a6bfe63-fbd25f1e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_3243b4ab-1e73-9a4a-1b22-9171cfc25c50-6fe1bc92 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-d0df8359-baf3-e4d1-41c6-9c19a66b0ede-fbd25f1e {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_3b3415bf-d85d-b149-bdc6-1b9afbcc94a6-fbd25f1e {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_3243b4ab-1e73-9a4a-1b22-9171cfc25c50-6fe1bc92 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/helveticaneue.ttf') format('truetype'), url('../fonts/helveticaneue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-BoldExt.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue roman';
  src: url('../fonts/HelveticaNeue-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}