.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

a {
  text-decoration: underline;
}

.container_wrap {
  display: block;
  padding-right: 30px;
  padding-left: 30px;
}

.container_wrap.padding_80 {
  display: block;
}

.container_wrap.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container_wrap.footer.case_study_wrap {
  display: block;
}

.image_hero.rounded {
  border-radius: 10px;
}

.column {
  position: static;
  padding-right: 0px;
  padding-left: 0px;
}

.paragraph {
  position: static;
  z-index: 2;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 30px 0px;
  clear: none;
  font-family: Exo, sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.paragraph.padding_80 {
  padding: 80px 0px 30px;
  font-size: 16px;
  line-height: 28px;
}

.paragraph.padding_80.col_ftr {
  padding: 0px;
}

.paragraph.padding_80.border {
  border-top: 1px solid rgba(0, 0, 0, .17);
  border-bottom: 1px none rgba(0, 0, 0, .17);
}

.paragraph.case_study_label {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 15px;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.paragraph.case_study_sub_label {
  position: absolute;
  margin-top: 90px;
  margin-bottom: 0px;
  border-color: rgba(0, 0, 0, .17);
  color: rgba(0, 0, 0, .54);
  font-size: 16px;
}

.paragraph.loader_text {
  padding: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: rgba(0, 0, 0, .61);
}

.padding_80 {
  position: static;
  display: block;
  overflow: visible;
  width: auto;
  margin: 0px;
  padding: 100px 10px;
  float: none;
  clear: none;
}

.padding_80.hero_padding {
  margin-bottom: 0px;
  padding-top: 22vh;
  padding-bottom: 22vh;
}

.paragraph-2 {
  font-family: Exo, sans-serif;
}

.heading {
  position: static;
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Exo, sans-serif;
  color: #000;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
}

.heading.thin {
  color: #000;
  font-size: 38px;
  line-height: 48px;
  font-weight: 200;
}

.heading.thin.list_thin {
  position: static;
  display: block;
  overflow: visible;
  margin-bottom: 0px;
  padding-bottom: 10px;
  float: none;
  clear: none;
  border-style: none none solid;
  border-width: 1px 1px 1px 0px;
  border-color: #000 #000 #2525ff;
  color: #2525ff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.heading.thin.list_thin.author {
  position: static;
  display: block;
  overflow: visible;
  padding-bottom: 0px;
  padding-left: 20px;
  float: right;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none;
  opacity: 0.54;
  color: #000;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  text-decoration: none;
}

.heading.thin.list_thin.quote {
  padding-bottom: 0px;
  border-style: none;
  color: #000;
  font-size: 19px;
  line-height: 29px;
  font-weight: 400;
  text-decoration: none;
}

.heading.thin.list_thin.highlight_link {
  padding-bottom: 5px;
  color: #2525ff;
}

.heading.quote_heading {
  margin-top: 0px;
  margin-bottom: 0px;
}

.grid {
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid.client_grid {
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid.padding_80 {
  padding-top: 160px;
}

.grid.padding_80.quote_grid {
  display: -ms-grid;
  display: grid;
  padding: 0px 0px 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid.project_grid {
  margin-bottom: 0px;
  padding-bottom: 60px;
}

.link-block {
  display: block;
  width: auto;
  margin-bottom: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  color: #000;
  text-decoration: none;
}

.link-block.quote_block {
  padding: 20px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .17);
  border-radius: 0px;
  background-color: rgba(0, 0, 0, .03);
}

.link-block.block_hero {
  width: 100%;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.link-block.case_study_hero {
  position: static;
  width: 100%;
  margin-bottom: 15px;
}

.thumb {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  border-radius: 0px;
}

.thumb.full_width {
  width: 100%;
  height: 60vw;
  margin-top: 20px;
  margin-bottom: 0px;
}

.thumb.full_width.hero_anim {
  display: block;
  width: 1300px;
  height: auto;
  margin: 0px auto 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
}

.thumb.full_width.hero_anim.main {
  width: 95%;
  max-width: 95%;
}

.thumb.full_width.anim {
  display: block;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.thumb.full_width.anim.shorter {
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.thumb.full_width.shorter {
  height: auto;
}

.thumb.client {
  padding: 20px 40px;
}

.thumb.body_wide_thumb {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0px;
  padding-right: 0px;
}

.thumb.body_wide_thumb.anim {
  position: static;
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  clear: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 10px none #fff;
}

.thumb.body_wide_thumb.anim.column_vid {
  position: static;
}

.thumb.case_study_thumb {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 88vh;
  min-height: 660px;
  margin-top: 20px;
  background-color: transparent;
}

.thumb.case_study_thumb.anim {
  height: 720px;
  margin-top: 0px;
}

.thumb.case_study_thumb.anim.shorter_vid {
  position: relative;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 490px;
  max-width: 100%;
  min-height: auto;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.thumb.shorter_video {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 33vw;
}

.list-item {
  list-style-type: none;
}

.list-item-2 {
  list-style-type: none;
}

.list-item-3 {
  list-style-type: none;
}

.header_style_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-family: Exo, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 200;
}

.header_style_list.footer_case_study {
  padding: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.listy_item {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 36px;
  font-weight: 300;
  list-style-type: none;
}

.listy_item.link_listy_item {
  display: block;
  margin-bottom: 0px;
  color: #2525ff;
}

.link-block-2 {
  text-decoration: none;
}

.list_link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #2525ff;
  font-weight: 300;
  text-decoration: none;
}

.list_link:hover {
  border-color: #000;
  color: #000;
}

.list_link.white_link {
  color: #fff;
}

.list_link.white_link_wrap {
  padding: 15px;
  border-style: none;
  background-color: #2525ff;
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
}

.list_link.white_link_wrap:hover {
  border-style: none;
  background-color: #000;
}

.column-5 {
  position: relative;
  padding: 0px 30px 0px 0px;
}

.body_link {
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #2525ff;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Exo, sans-serif;
  color: #2525ff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
}

.body_link:hover {
  color: #000;
}

.body_link.white_link {
  display: block;
  margin-bottom: 0px;
  border-style: none;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
}

.hero_left {
  padding: 0px;
}

.tile {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  border-radius: 1px;
  background-color: #df1a1a;
  opacity: 1;
}

.tile.left_tile {
  position: fixed;
  width: 16px;
  height: 20px;
  margin: 260px 80px 80px;
  background-color: #2525ff;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.tile.left_tile.tile_b {
  width: 10px;
  height: 12px;
  margin-top: 300px;
  margin-bottom: 0px;
  margin-left: 40vw;
  background-color: rgba(37, 37, 255, .36);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.tile.left_tile.tile_a {
  width: 10px;
  height: 10px;
  margin-top: 60vh;
  margin-left: 30%;
  border-radius: 11px;
  opacity: 0.6;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.tile.left_tile.tile_a.tile_f {
  margin-top: 140vh;
}

.tile.middle_tile {
  position: absolute;
  left: 42%;
  top: 0px;
  right: 0px;
  z-index: 3;
  width: 17px;
  height: 13px;
  margin-top: 420px;
  background-color: #2525ff;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.tile.middle_tile.tile_a {
  position: fixed;
  z-index: 0;
  width: 11px;
  height: 14px;
  margin-top: 80vh;
  opacity: 0.63;
}

.tile.right_tile {
  position: fixed;
  left: auto;
  top: 0px;
  right: 0px;
  height: 15px;
  margin: 20vh 14% 60px 60px;
  background-color: rgba(37, 37, 255, .57);
  -webkit-transform: rotate(47deg);
  -ms-transform: rotate(47deg);
  transform: rotate(47deg);
}

.tile.right_tile.tile_c {
  position: fixed;
  z-index: 3;
  height: 10px;
  margin-right: 18%;
  background-color: #2525ff;
  opacity: 1;
}

.tile.right_tile.tile_c.tile_g {
  width: 10px;
  height: 5px;
  margin-top: 70vh;
  margin-right: 29%;
  opacity: 0.43;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transform: rotate(47deg) translate(0px, 0px);
  -ms-transform: rotate(47deg) translate(0px, 0px);
  transform: rotate(47deg) translate(0px, 0px);
}

.tile.other_tile {
  height: 18px;
  margin: 5% auto 0vh 5%;
  background-color: rgba(37, 37, 255, .69);
}

.confetti {
  position: fixed;
}

.loader {
  position: fixed;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  opacity: 0;
}

.image {
  position: static;
  display: block;
  width: 60px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.avatar {
  position: relative;
  display: block;
  overflow: visible;
  max-width: 5vw;
  float: none;
  clear: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 50px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block.quote_avatar {
  margin-top: 20px;
}

.body_color {
  background-color: #fff;
}

.hero_page {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-color: #1b1b1d;
}

.footer_wrap {
  background-color: #fff;
}

.column-8 {
  display: block;
  overflow: hidden;
  padding: 0px 4px 4px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-8.right_col {
  padding-right: 0px;
  padding-left: 10px;
}

.column-8.split_col {
  display: block;
  overflow: hidden;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.column-9 {
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 7px;
}

.grid-2 {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px 3px 10px 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.case_study_label {
  position: relative;
  display: block;
  overflow: visible;
  width: auto;
  margin-top: 0px;
}

.wrap.case_study_footer_blue {
  display: block;
}

.back_btn {
  position: fixed;
  z-index: 3;
  display: inline-block;
  margin: 30px;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #2525ff;
  background-image: url('../images/ic_home.png');
  background-position: 50% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Exo, sans-serif;
  font-weight: 500;
}

.back_btn:hover {
  background-color: #000;
}

.back_btn.next_project {
  right: 0px;
  bottom: 0px;
  display: none;
  margin-bottom: 30px;
  margin-left: 0px;
  padding: 10px 12px;
  background-color: rgba(0, 0, 0, .07);
  background-image: none;
  -webkit-transition-property: none;
  transition-property: none;
  color: #a3a3a3;
}

.back_btn.next_project.prev_project {
  left: 0px;
  right: auto;
  bottom: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.link-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: red;
}

.background-video {
  overflow: hidden;
  height: 30.1vw;
}

.loader_text {
  display: none;
  margin-bottom: 0px;
  font-family: Exo, sans-serif;
  color: rgba(0, 0, 0, .54);
  font-size: 18px;
  text-align: center;
}

@media (max-width: 991px) {
  .image_hero {
    margin-top: 30px;
  }
  .heading.thin.list_thin.author {
    line-height: 22px;
  }
  .grid {
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .grid.padding_80.quote_grid {
    display: block;
  }
  .link-block {
    margin-bottom: 30px;
  }
  .link-block.block_hero {
    display: block;
    margin-bottom: 30px;
    padding-left: 0px;
  }
  .thumb.full_width.hero_anim {
    width: 100%;
  }
  .thumb.body_wide_thumb {
    display: inline-block;
    margin-bottom: 0px;
  }
  .image {
    width: 50px;
  }
  .column-8 {
    padding: 0px;
  }
  .column-9 {
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .grid-2 {
    display: block;
  }
  .columns {
    display: block;
    padding: 0px;
  }
  .columns-2 {
    margin: 0px;
  }
}

@media (max-width: 767px) {
  .container_wrap {
    padding: 30px;
  }
  .image_hero {
    margin-top: 30px;
  }
  .column {
    padding: 0px;
  }
  .paragraph.padding_80 {
    padding: 0px;
  }
  .padding_80 {
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 0px;
  }
  .padding_80.hero_padding {
    margin-top: 0px;
    padding: 15vh 0px 0px;
  }
  .heading {
    margin-bottom: 30px;
  }
  .heading.thin {
    font-size: 28px;
    line-height: 38px;
  }
  .heading.thin.list_thin.quote {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    border-style: none;
  }
  .heading.quote_heading {
    margin-top: 30px;
  }
  .grid.client_grid {
    margin-bottom: 80px;
  }
  .grid.padding_80.quote_grid {
    display: block;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .link-block.quote_block {
    margin-bottom: 30px;
  }
  .link-block.block_hero {
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .thumb.full_width.hero_anim {
    width: 100%;
  }
  .thumb.client {
    padding: 20px;
  }
  .thumb.case_study_thumb {
    display: block;
  }
  .body_link {
    padding-bottom: 5px;
  }
  .hero_right {
    padding: 0px;
  }
  .avatar {
    max-width: 10vw;
  }
  .column-9 {
    padding-left: 0px;
  }
  .grid-2 {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .columns {
    display: block;
    padding-left: 0px;
  }
}

@media (max-width: 479px) {
  .container_wrap {
    padding: 30px;
  }
  .container_wrap.intro_header {
    padding-top: 60px;
  }
  .image_hero {
    margin-top: 30px;
  }
  .column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .paragraph.padding_80 {
    padding: 0px;
  }
  .padding_80 {
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 0px;
  }
  .padding_80.hero_padding {
    margin-top: 0px;
    padding: 8vh 0px 5vh;
  }
  .heading {
    position: static;
    display: block;
    overflow: visible;
  }
  .heading.thin {
    margin-bottom: 0px;
    font-size: 28px;
    line-height: 38px;
  }
  .heading.thin.list_thin.author {
    line-height: 23px;
  }
  .heading.thin.list_thin.quote {
    padding-top: 0px;
    border-style: none;
  }
  .heading.quote_heading {
    margin-top: 0px;
  }
  .grid {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .grid.client_grid {
    display: block;
    margin-top: 30px;
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .grid.padding_80.quote_grid {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .grid.padding_80.quote_grid.second_grid {
    margin-top: 0px;
  }
  .link-block {
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
    float: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .link-block.block_hero {
    padding-right: 0px;
    padding-left: 0px;
  }
  .thumb.full_width.hero_anim {
    width: 100%;
    margin-bottom: 30px;
  }
  .thumb.client {
    max-width: 100%;
    padding: 15px 50px;
  }
  .thumb.body_wide_thumb {
    width: 100%;
    margin-bottom: 0px;
  }
  .thumb.case_study_thumb {
    display: block;
    max-height: 200px;
  }
  .column-2 {
    position: static;
    display: block;
    padding: 0px;
    clear: none;
  }
  .column-3 {
    padding: 0px;
  }
  .column-4 {
    padding: 0px;
  }
  .column-5 {
    padding: 0px;
  }
  .column-6 {
    padding: 0px;
  }
  .column-7 {
    padding: 0px;
  }
  .hero_right {
    padding: 0px;
  }
  .image {
    width: 50px;
  }
  .avatar {
    max-width: 16vw;
  }
  .hero_page {
    position: fixed;
  }
  .column-8 {
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .column-9 {
    padding-left: 0px;
  }
  .grid-2 {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .columns {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
  }
}

#w-node-c4e590b8c5dc-abc60c20 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-c4e590b8c5de-abc60c20 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-c4e590b8c5e0-abc60c20 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-c4e590b8c5e2-abc60c20 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-c4e590b8c5e4-abc60c20 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-c4e590b8c5e6-abc60c20 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-77d5899adc57-abc60c20 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-fdb1a105d12a-abc60c20 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-73a38b789aa0-abc60c20 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-1a64948bbc44-abc60c20 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-afd29dc61c70-abc60c20 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-afd29dc61c74-abc60c20 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-afd29dc61c72-abc60c20 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-afd29dc61c76-abc60c20 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-45d4b998470f-abc60c20 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-45d4b9984713-abc60c20 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-45d4b9984711-abc60c20 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-45d4b9984719-abc60c20 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-46eab01d8c22-abc60c20 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-46eab01d8c28-abc60c20 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-46eab01d8c24-abc60c20 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-46eab01d8c2c-abc60c20 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-c28ef9ce36cd-abc60c20 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-c28ef9ce36cf-abc60c20 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-c28ef9ce36d1-abc60c20 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-f250d4f5bd87-abc60c20 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-f250d4f5bd90-abc60c20 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-f250d4f5bd99-abc60c20 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

