/*@media screen and (max-width: 1400px) {

.experience-section {
height: 88vw !important;
}

.subtitle_home {
margin-top: -3vw !important;
}

}*/



@media screen or (max-width: 1300px) {
	.container_box,
	.container_box_2 {
		left: calc(46%);
		width: 50% !important;
	}

	.name,
	.footer-social-icons.desktop {
		left: calc(50% - 30%);
	}

	.box_in_style_1 {
		height: 19vw;
	}
}

@media screen and (max-width: 860px) {

	/*.container_text_home {
	zoom: .9;
	margin-left: -5px;
	}*/

	body {
		/*font-weight:*/ 200;
	}
	/*.introduction .white-links {
	margin-top: 12rem !important;
	}*/



}

@media screen and (max-width: 660px) {

	.container_box,
	.container_box_2 {
		left: auto;
		width: 100% !important;
	}

	.name,
	.footer-social-icons.desktop {
		left: calc(50% - 30%);
	}


	.photo_min:hover .overlay_photo_min
	{
		opacity: 0;
		z-index: -1;
	}

	.logo_content_box_in a.social-icon,
	.logo_element_trio a.social-icon {
		/*font-size:*/ 5em !important;
		color: #111 !important;
	}

	.box_in_style_3.box_in_style_4.anim_box_1-5.introduction .maven_b,
	.name span {
		font-size: 4vh !important;
		font-family: 'Source Sans Pro', serif !important;
	}



}

@media (max-height: 300px) {

	.container_box,
	.container_box_2 {
		background-color: #FFF;
		z-index: 1;
		position: relative;
		left: 0;
		width: 50%;
		/* padding-left: 50%; */
		/* float: right; */
		text-align: left;
		overflow: hidden;
		width: 100%;
		z-index: 1119 !important;
	}

	.footer-social-icons,
	.avatar,
	hr
	{
		display: none !important;
	}

}

/*@media (max-width: 768px)
and (-webkit-min-device-pixel-ratio: 2) {
.introduction .white-links {
line-height: 8vw !important;
}

}*/

/*@media (max-width: 990px) {*/
@media (-webkit-min-device-pixel-ratio: 1) and (max-width: 1024px) {

	.container_box#content > .box_in_style_3.box_in_style_4.anim_box_1-5.introduction.top-intro {
		background:url(https://source.unsplash.com/collection/475225/2300x1600) no-repeat top center fixed !important;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-filter: grayscale(1);
		filter: grayscale(1);
	}

	.box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
		height: auto !important;
	}

	.scrimmy {
		z-index: -1 !important;
		display: block;
	}

	.scrim_overlay {
		background: rgba(0,0,0,.4);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100% !important;
		z-index: 0;
		opacity: 0;
		display: none;
	}

	.hide-title,
	.avatar.hide-title {
		display: block !important;
	}

	.introduction.show.top-intro {
		height: auto !important;
	}

	.social-icons a {
		color: 111;
	}

	.introduction.show.top-intro .ftr-link,
	.fa-caret-down,
	.fa-angle-down,
	.fa-angle-right,
	.label > .project_text .project_snippet,
	.name {
		display: none !important;
	}

	.project_text .project_snippet {

		margin: 90px;
	}

	hr {
		height: 1px;
		/* margin: 70px 0 30px 0; */
	}

	hr.open {
		width: 100%;
		opacity: 1;
	}

	.title_box_in_style_3.maven_b + div {
		color: rgba(1,1,1,.87);
		margin-top: 6vw !important;
	}

	span.name-2,
	.name-2 span {
		display: none;
		color: #111;
		margin-bottom: -4vw;
		/*font-weight:*/ 200;
	}

	#top-of-work.home+div {
		display: none;
	}

	a.ftr-link {
		/*float: left;*/
		/*color: #fff;*/
		background: #111;
		padding: 4vw 6vw;
		margin: 5vw 0;
		text-align: center;
		border-radius: 30vw;
		-moz-border-radius: 30vw;
		-webkit-border-radius: 30vw;
		/*box-shadow: 0 10px 70px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 10px 70px rgba(0,0,0,.2);
		-moz-box-shadow: 0 10px 70px rgba(0,0,0,.2);*/
	}

	.fa.ftr-link + a {
		/*font-size: 4vw !important;*/
	}


	.floaty-wrap {
		margin-top: 0;
	}

	.floaty-wrap li {
		line-height: 12.4vw;
	}
	.floaty-wrap li a {
		font-size: 5vw !important;
	}

	.quotes-block a {
		line-height: 5.2vh !important;
	}

	/*.subtitle_box_in_style_3.source_r.white-links.center,
	.title_box_in_style_3.maven_b {
	text-align: center;
	}*/

	.box_in_style_3.box_in_style_4.anim_box_1-5.introduction .maven_b.clients {
		line-height: 7vh;
		margin-bottom: 8vw;
		text-align: left !important;
	}

	.container_box#content > .box_in_style_3.box_in_style_4.anim_box_1-5.introduction.block_quote_wrap {
		padding: 10vw !important;
		height: auto !important;
		/*padding-top: 280px;*/
	}

	.box_in_style_3.box_in_style_4.anim_box_1-5.introduction .maven_b.clients.block_quote {
		/*border-left: solid 5px #111;
		padding: 0;
		padding-left: 8vw;*/
		line-height: 8vw;
		width: 95%;
		font-family: 'Rasa', serif !important;
		margin-bottom: 0 !important;
	}

	.quote_avatar {
		/*text-align: center;*/
	}

	.quote_avatar img {
		border-radius: 80px;
		overflow: hidden;
		float: none;
		margin: 0 auto;
		width: 8vw;
	}

	.quote_avatar span {
		vertical-align: top;
		float: none;
		padding-top: 2vw !important;
		font-style: italic;
		color: #999;
	}

	.box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
		padding: 8vw 8vw 8vw;
	}

	.container_box.homepage {
		/*padding-top: 30vw;*/
		padding-top: 3vw;
		padding-bottom: 25vw !important;
	}

	.homey .container_box.homepage {
		padding-bottom: 0 !important;
	}

	.container_box#content > .box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
		height: 225vw !important;
		/*width: 93%;*/
		padding: 12vw;
		height: auto !important;
		/*padding-bottom: 20vw !important;*/
	}

	.container_box#content > .box_in_style_3.box_in_style_4.anim_box_1-5.introduction.client-wrap {
		height: auto !important;
	}

	.container_box#content > .box_in_style_3.box_in_style_4.anim_box_1-5.introduction.client-wrap.tall {
		 height: 50vh !important;
	}

	.container_box#content > .box_in_style_3.box_in_style_4.anim_box_1-5.introduction.top-intro {
		height: 97vw !important;
		height: 80% !important;
	}

	.container_box.homepage#content > .box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
		/*padding: 0 8vw 35% 8vw;*/
		padding: 0px 8vw 8vw 8vw;

	}

	.homey .container_box.homepage#content > .box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
		padding: 0 8vw 0 8vw;
		padding-bottom: 0 !important;
	}

	.box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
		/* height: 110vw !important; */
		height: auto !important;
		/*margin-bottom: 10vw;*/
	}

	.title_box_in_style_3.maven_b + div {
		/*margin-bottom: 5vw;*/
	}

	.intro_main, .fa.fa-angle-down {
		position: relative;
	}

	.photo_min.box_style_2 {
		/*border-top: 40px solid #fff !important;*/
	}

	.logo_content_box_in a.social-icon,
	.logo_element_trio a.social-icon {
		color: #111 !important;
	}

	/*.fixed-nav .bitmoji {
	display: none !important;
	}*/

	/*.fixed-nav {
	zoom: 3;
	}*/

	.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.skills_wrap.anim {
		padding-bottom: 5vw;
		 height: 44vw !important;
	}


	/* Scale nav to condensed view */

	.fixed-nav .logo.trigger.bitmoji {
		margin-top: 0 !important;
		top: -50px !important;
	}

	.fixed-nav .logo.trigger.bitmoji.anim_1 {
		/* width: 70px; */
		/* top: -50px !important; */
		/* width: 10vw; */
		/* bottom: 0; */
		position: absolute;
		left: calc(50% - 3vw);
	}

	.fixed-nav .logo.trigger.bitmoji.anim_1 .social-icon {
		/*width: 70px;*/
		top: 7px !important;
	}

	.ftr-copy {
		font-size: 1.6vw;
	}

	.anim_box_1.anim,
	.anim_box_1-5.anim,
	.anim_box_1-5.client-wrap.anim,
	.anim_box_2.anim,
	.anim_box_3.anim,
	.anim_box_4.anim,
	.avatar.anim {

		/*border-radius: 3vw;
		-moz-border-radius: 3vw;
		-webkit-border-radius: 3vw;*/
		/*border-top: 40px solid #fff;
		border-left: 40px solid #fff;
		border-right: 40px solid #fff;*/

	}

	.container_box,
	.container_box_2 {
		background-color: #FFF;
		z-index: 1;
		position: relative;
		left: 0;
		width: 50%;
		/* padding-left: 50%; */
		/* float: right; */
		text-align: left;
		overflow: hidden;
		width: 100%;
		z-index: 111 !important;
	}

	/*.container_title_home_slice {
	zoom: .7;
	}*/

	.introduction .white-links {
		/*margin-top: 40px;*/
		position: relative;
		/* line-height: 4.5vh !important; */
		width: auto !important;

	}

	/*.introduction.top-intro .white-links {
	margin-top: 24rem !important;
	}*/

	.social-icons li {
		/* vertical-align: middle; */
		/* display: inline-block; */
		/* height: 90px; */
		width: 23%;
		margin: 0 auto;
		position: relative;
		/* margin: 0 0em; */
		text-align: center;
		float: left;
		/* position: initial; */
		text-align: left;
	}

	.social-icons li:last-child {
		width: 7%;
		margin-right: 0;
	}

	.introduction.top-intro .white-links {
		opacity: 0 !important;
		margin-top: 28rem !important;
		-webkit-transition: all all .4s ease-out;
		-moz-transition: all .4s ease-out;
		-ms-transition: all .4s ease-out;
		-o-transition: all .4s ease-out;
		transition: all .4s ease-out;
	}
	.introduction.top-intro .white-links.show {
		opacity: 1 !important;
		margin-top: 20rem !important;

	}
	.white-links a {
		display: inline;
	}

	.box_style_1,.box_style_2 {
		width:100%;
		height:100vw;
	}

	.maven_b .floaty-wrap {
		display: block;
	}

	.mobile,
	.desktop {
		display: none !important;
	}

	.horizontal > span,
	.details .title,
	.floaty-wrap li a  {
		font-size: 3.5vw;
		/*line-height: normal;*/
		line-height: 15vw;
	}

	.horizontal .progress-bar {
		margin: 1vw 0;
		line-height: 15vw !important;
		padding-bottom: 19vw;
	}

	/*.box_style_1 .hide-all,
	.box_style_2 .hide-all,
	.box_style_3 .hide-all{
	display: none !important;
	height: 0;
	}*/

	.filler_link {
		box-shadow: none;
	}

	.anim_box_1.anim,
	.anim_box_1-5.anim,
	.anim_box_1-5.client-wrap.anim,
	.anim_box_2.anim,
	.anim_box_3.anim,
	.anim_box_4.anim,
	.avatar.anim {
		/*border-top: 40px solid #fff;*/
		margin-top: 5vw;
		padding-bottom: 20vw;
	}

	.fixed-nav.anim.shadow {
		box-shadow: 0 15px 80px rgba(46, 46, 46, .54) !important;
		-webkit-box-shadow: 0 15px 80px rgba(46, 46, 46, .54) !important;
		-moz-box-shadow: 0 15px 80px rgba(46, 46, 46, .54) !important;
		/*background: #2e2e2e !important;*/
	}

	.footer-social-icons {
		display: none;
	}

	/* FAB */

	.fab.mobile {
		position: fixed;
		z-index: 111111;
		display: none !important;
		/* width: 48px; */
		/* height: 48px; */
		border-radius: 0 !important;
		bottom: -30vw;
		left: 0;
		background: #353535;
		width: 100%;
		/* color: #111 !important; */
		padding: 5vw 0 12vw;
		-webkit-transition: all .55s ease;
		-moz-transition: all .55s ease;
		-ms-transition: all .55s ease;
		-o-transition: all .55s ease;
		transition: all .55s ease;
	}

	.fab.desktop .fa {
		/*font-size:*/ 7vw !important;
		color: #111;
	}

	.fab.desktop.show {
		bottom: 0;
	}

	.fab.mobile i {
		position: absolute;
		left: calc(50% - 2.5vw);
	}

	.intro_main > span.title {
		text-transform: uppercase;
		letter-spacing: .5vw;
		margin-bottom: 50vw;
		line-height: 25vw;
		color: #fff;
		/*white-space: pre;*/
		/*font-family: 'Rasa', serif;*/
	}

	/*.avatar.hide-title {
	margin-top: 7vh;
	}*/


	.container_box.add_blur,
	.footer-social-icons.add_blur {
		/*-webkit-filter: blur(60px);
		filter: blur(60px);*/
	}


	.name.show.hide {
		/*display: block !important;*/
		opacity: 1;
		width: 80%;
		position: relative;
		left: auto;
		top: auto;
		height: 0 !important;
		display: none !important;
	}

	/*.name.hide span {
	width: inherit;
	font-size: 10vw !important;
	line-height: 7vh;
	font-size: 5.5vh !important;
	}*/

	.name.hide span.black {
		color: #111;
		opacity: 1;
	}

	/*.footer-social-icons.hide-title.show.add_blur.receed {
	margin-top: -250px !important;
	opacity: 0 !important;
	}*/

	.photo_min {
		margin: 10vw 5vw !important;
	}

	.loader {
		z-index: 1000000 !important;
		transform: scale(1.5) !important;
		/*transform: scale(3) !important;
		-webkit-transform: scale(3) !important;
		-moz-transform: scale(3) !important;
		left: calc(50% - 4rem);
		width: 11vw !important;*/

		/*margin-left: -3vw;
		display: block;
		position: fixed;
		opacity: 0;
		overflow: hidden;
		border-radius: 100%;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		transform: scale(1) !important;
		-webkit-transform: scale(1) !important;
		-moz-transform: scale(1) !important;*/
		/*-webkit-transition: all 4.25s ease-out;
		-moz-transition: all 4.25s ease-out;
		-ms-transition: all 4.25s ease-out;
		-o-transition: all 4.25s ease-out;
		transition: all 4.25s ease-out;*/
	}

	/*.loader img {
	transform: scale(2) !important;
	-webkit-transform: scale(2) !important;
	-moz-transform: scale(2) !important;
	}*/

	.loader.hide-loader {
		/*display: none !important;*/
		z-index: 111 !important;
	}

	.point_loader_style {
		height: 35px;
		width: 35px;
		border-radius: 100% !important;
	}


	.subtitle_box_in_style_3 {
		/* line-height: 2.5rem !important; */
		line-height: 2rem !important;
		font-size: 18px !important;

}
