
/* Core stuff */

html {
  overflow: scroll;
  overflow-x: hidden;
}

body {}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  /* background: #FF0000; */
}

a,
.show-cases.social-icon {
  cursor: pointer;
}

.anim_box_1-5.client-wrap.first.slideMeOut,
.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.slideMeOut,
body.slideMeOut {
  opacity: 0 !important;
  margin-top: 30px !important;
  -o-transition: .6s ease;
  -ms-transition: .4s ease;
  -moz-transition: .4s ease;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.bg_cover,
.fixed-nav,
.background_img_home, body.color, .home, body, html {
  /* background: #fff !important; */
}

.container_title_home_slice, #big-b, .home, .details {
  display: block !important;
  /* z-index: 2 !important; */
  background: transparent !important;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -moz-transition: all 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -o-transition: all 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  transition: all 1s cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */

  -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */

}

.black_text {
  color: #000;
}

/* ul#filter-cat li.active a, */
/* a.ftr-link, */
/*.logo.bitmoji,*/
.quote_avatar .fa {
  color: #353535 !important;
  /*background: rgba(0,0,0,.03);*/
  background: #fff;
  box-shadow: 0 2px 20px rgba(0,0,0,.10);
  -moz-box-shadow: 0 2px 20px rgba(0,0,0,.10);
  -webkit-box-shadow: 0 2px 20px rgba(0,0,0,.10);
}

.logo.bitmoji{
  color: #353535 !important;
  /*background: rgba(0,0,0,.03);*/
  background: none;
}

.logo.text {
  margin-top: 0 !important;
  opacity: 1;
  /* top: -25px !important; */
  position: absolute;
  color: #fff;
  background: none;
  top: 0 !important;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 33 !important;
  padding: 4vw 0 !important;
  /* font-style: italic;
  font-family: 'Georgia', 'sans-serif' !important;
  text-transform: lowercase !important; */
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.logo.text.pin-logo {
  background: #fff;
  position: fixed;
  color: #000;
  padding: 1vw 0 !important;
  box-shadow: 0 0px 30px rgba(0,0,0,.09);
  -webkit-box-shadow: 0 0px 30px rgba(0,0,0,.09);
  -moz-box-shadow: 0 0px 30px rgba(0,0,0,.09);
}

.logo.text:after {
  content: "\A";
  width: 40px;
  height: 2px;
  /* border-radius: 50%; */
  background: #fff;
  display: inline-block;
  margin: 46px 30px;
  left: calc(50% - 50px) !important;
  /* float: inherit; */
  position: absolute
}

.clients.problem .logo.trigger.bitmoji.anim_1 {
  text-align: center;
  margin: 0 auto;
  display: block !important;
  margin-bottom: 48px;
  height: 160px;
  width: 160px;
  border-radius: 600px !important;
  -webkit-border-radius: 600px !important;
  -moz-border-radius: 600px !important;
}

.social-icons a:hover,
/* a.ftr-link:hover, */
.logo.bitmoji:hover,
.quote_avatar .fa:hover {
  color: #000 !important;
  border: solid 0 rgba(0,0,0,0) !important;
  box-shadow: 0 20px 60px rgba(0,0,0,.09);
  -webkit-box-shadow: 0 20px 60px rgba(0,0,0,.09);
  -moz-box-shadow: 0 20px 60px rgba(0,0,0,.09);
  background: #fff !important;
  opacity: 1 !important;
}

a.ftr-link {
  font-size: large !important;
  font-weight: 600 !important;
  width: fit-content !important;
  /* font-family: 'Nunito Sans', sans-serif !important; */
  font-family: 'Quicksand', 'Helvetica', sans-serif !important;
  margin-left: 0 !important;
  box-shadow: none !important;
  text-align: center;
  background: #000 !important;
  color: #fff !important;
  border-radius: 80px;
  padding: 15px 20px 15px 30px !important;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border: 2px solid transparent;
  opacity: 0;
}

a.ftr-link:after {
  /*color: #353535 !important;*/
  /* border: solid 2px rgba(0,0,0,.10); */
  /* content: ''; */
    content: '→';
    color: #fff;
    display: block;
    overflow: hidden;
    margin-left: 10px !important;
    float: right !important;


    -webkit-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
       -moz-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
         -o-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
            transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

    -webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
         -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
            transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

a.ftr-link:hover {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow:  none !important;
    border: 2px solid #000;
    opacity: 1 !important;
    background: #fff;
    padding: 15px 40px 15px 40px !important;
}


a.ftr-link:hover:after {
  /*color: #353535 !important;*/
  /* border: solid 2px rgba(0,0,0,.10); */
  /* content: ''; */
  display: block;
  content: '→';
  width: fit-content;
  margin-left: 23px !important;
  color: #000;
}

.white-links.show > .fa.ftr-link span {
  margin-top: 0.5vw !important;
}

a.ftr-link:active,
.logo.bitmoji:active,
.quote_avatar .fa:active {
  color: #353535 !important;
  background: #f1f1f1;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.logo.bitmoji.nav {
  top: 5vw !important;
}

.body_link {
  font-size: inherit !important;
  line-height: 8vh;
  width: 100% !important;
}

/* .introduction.show.contact.anim {
margin-bottom: 0;
padding-top: 0 !important
} */

#top-of-work + div > span.section:before,
.maven_b + .white-links + .white-links + .white-links,
.white-links + div > ul,
.gif_bg,
.center .photo_min.full-width.hero7,
.homey .subby > a.ftr-link,
.intro-links.mobile-links li:first-child {
  display: none !important;
}

.subby + .white-links.show {
  text-align: center;
  margin: 0 auto;
}

.intro-links.mobile-links li.show-links {
  margin-top: auto;
  /* padding: 5rem 0 !important; */
  text-align: center;
  /* padding: 0vw 2vw; */
  /* margin: 5vw; */
  /* padding: 5rem 0 !important; */
  /* width: fit-content; */
  margin: 0 auto;
}

.intro-links li {
  /*padding: 8vh 0 !important;*/
  z-index: 9999999999999;
  /*height: 8%;
  logo.anim_1,
  .avatar.anim_1,
  .loader.anim {
  	/*box-shadow: 0 20px 30px rgba(0,0,0,.07);*/
    opacity: 1 !important;

  	-webkit-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  	   -moz-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  	     -o-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  	        transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

  -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */

}


span.section:after {
  content: "\A";
  width: 0;
  height: 2px;
  /* border-radius: 50%; */
  background: rgba(0,0,0,.54);
  display: inline-block;
  margin: 2.55em 0;
  left: 0 !important;
  /* float: inherit; */
  position: absolute;
  -webkit-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
     -moz-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
       -o-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
          transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */

  -webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
     -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
       -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
          transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
  /* left: 49%; */
  /* top: 24%; */
}

/* span.section.anim.openline {
  width: 40px !important;
} */

span.section.openline:after {
  width: 40px !important;
}

/* span.section.openline:after {
  width: 40px !important;
  left: 0 !important;
} */

/* Heros */

.verticals {
  display: inline-flex;
  margin-bottom: 0;
  padding-bottom: 0;
  /*margin-top: 5vw;*/
}

.verticals ul {
  margin-bottom: 3vh;
  /*margin-top: 5vw;*/
}

/*.details.verticals ul+ul+ul+ul {
display: block !important
}*/

.full-width {
  background-position: 50% 50% !important;
  background-color: noen !important;
  margin-top: 0;
  width: calc(100%) !important;
  max- height: 44vw !important;
  position: absolute;
  left: 0;
  /* margin-bottom: 100px !important; */
  /*height: 30vw !important;*/
}

.introduction + .full-width {
  box-shadow: 0 4px 40px rgba(0,0,0,.03);
  -moz-box-shadow: 0 4px 40px rgba(0,0,0,.03);
  -webkit-box-shadow: 0 4px 40px rgba(0,0,0,.03);
}

.full-width.grey {
  background-color: #F1F1F1 !important;
}

.full-width.transparent {
  background-color: white !important;
  background-size: 70% !important;
  height: 20vw !important;
}

.full-width.blue {
  /*background-color: #DB4337 !important;*/
  background-size: cover !important;
  background-position: center center !important;
  /*background-size: cover !important;*/
}

.full-width.hero2 {
  background-color: #EFEFEF !important;
  /*background-size: 40% !important;*/
  background-size: cover !important;
  /*background-position: 20% 30% !important;*/
}

.full-width.hero3 {
  margin-top: 45vw !important;
  background-color: #fff !important;
  background-size: 35% !important;
  /*background-size: cover !important;
  background-position: 20% 30% !important;*/
}

.center .photo_min.medium.full-width.rouge.hero4 {
  /* padding-top: 45vw !important; */
  position: relative;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  background-color: #fff !important;
  background-size: 70% !important;
  /*margin: 8vw 0 !important;
  padding-bottom: 5vw; */
}

.center .photo_min.medium.full-width.hero4 {
  /*padding-top: 45vw !important;*/
  position: relative;
  padding-bottom: 0 !important;
  /* margin-bottom: 5vw !important; */
  /* background-color: inherit !important; */
  /* background-size: 70% !important; */
  background-size: cover !important;
  /* margin-bottom: 10vw !important; */
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
   height: 58vh !important;
  pointer-events: none;
  max-height: inherit !important;
  /*background-size: cover !important;
  background-position: 20% 30% !important;*/
}

video.photo_min.box_style_2.medium.full-width.hero4 {
    height: auto !important;
}

.center .photo_min.medium.full-width.hero4 iframe {
  pointer-events: auto;
}

.center .photo_min.medium.full-width.hero4.proto {
  background-size: 63% !important;
  margin: 8vw 0 2vw 0 !important;
}

.photo_min.medium.full-width.hero4.extra {
  margin-bottom: 12vw !important;
}

.photo_min.medium.full-width.hero4.extra.tall {
    background-size: 73% !important;
    height: 155vw !important;
    margin-bottom: 0 !important;
    max-height: 160vw !important;
    margin-top: 0;
}

.photo_min.medium.full-width.hero4.taller {
    height: 100vw !important;
    max-height: 140vw !important;
}

.center .photo_min.medium.full-width.hero5 {
  background-size: cover !important;
}

.center .photo_min.full-width.hero6 {
  background-size: 90% !important;
  background-position: top center;
}

.center .photo_min.full-width.hero7 {
  background-size: cover !important;
  /* height: 67vw !important; */
  /* min-height: 44.5vmin !important;
  max-height: 44.5vmax !important; */
  height: 44vw !important;

  /*box-shadow: 0 2px 30px rgba(0,0,0,.03);
  -moz-box-shadow: 0 2px 30px rgba(0,0,0,.03);
  -webkit-box-shadow: 0 2px 30px rgba(0,0,0,.03);*/

}

.hero7 {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 48vw !important;
  max-height: 1000px !important;
  /* filter: brightness(30%);
  -webkit-filter: brightness(30%);
  -moz-filter: brightness(30%); */
  box-shadow: none !important;
  /* height: calc(42% - 48vw) !important; */
  /* height: 760px; */
  /* top: 8vw; */

}

.center .photo_min.medium.full-width.rouge.hero4.contain {
  background-size: contain !important;
  background-position-x: 50% !important;
  background-color: transparent !important;
  /* background-size: cover !important; */
}

.center .photo_min.medium.full-width.rouge.hero4.contain.small {
  background-size: 70% !important;
  background-position-x: 50% !important;
  background-color: #fafafa !important;
  /* background-size: cover !important; */
}

.anim_box_3.light-blue {
  background-color: #EBF2FD !important;
}

.anim_box_3.white-bg {
  background-color: #fff !important;
  background-size: 140% !important;
  background-position: 0 100%;
}

.anim_box_3.black {
  background-color: #4285F4 !important;
  padding: 5vw 7% !important;
}

.anim_box_3.black.white {
  background-color: #fff !important;
  padding: 5vw 7% !important;
}

.anim_box_3.black > div {
  margin-top: calc(50% - 12vw);
  white-space: normal;
}

/* blue grid */

.anim_box_3.black > div .title_box_in_style_3.maven_b.clients.skills {
  width: 100%;
  white-space: normal;
  color: rgba(255,255,255,1) !important;
  font-size: 2.5vw !important;
  line-height: 3.5vw !important;
  margin-bottom: 2vw !important;
  /* font-family: 'Nunito Sans', sans-serif !important; */  font-family: 'Quicksand', 'Helvetica', sans-serif !important;
}

.anim_box_3.black > .title_box_in_style_3.maven_b.clients.skills + div.white-links.show {
  color: rgba(255,255,255,0.54) !important;
  font-size: 1.5vw !important;
  line-height: 2.5vw !important;
  letter-spacing: normal !important;
}

/* use case hero */

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.use-case {
  background: #000 !important;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.use-case .maven_b.clients,
.quotes a {
  color: #fff !important;
  font-weight: 600 !important;
  text-align: center;
  font-size: 46px !important;
  line-height: 56px !important;
  font-family: 'Quicksand', 'Helvetica', sans-serif !important;
}

.maven_b.clients.expanded {
  width: 100% !important;
}

/* white grid */

.anim_box_3.black.white > div .title_box_in_style_3.maven_b.clients.skills {
  width: 100%;
  white-space: normal;
  color: rgba(0,0,0,1) !important;
  font-size: 2.5vw !important;
  line-height: 3.5vw !important;
  margin-bottom: 2vw !important;
  /* font-family: 'Nunito Sans', sans-serif !important; */  font-family: 'Quicksand', 'Helvetica', sans-serif !important;
}

.anim_box_3.black.white > .title_box_in_style_3.maven_b.clients.skills + div.white-links.show {
  color: rgba(0,0,0,0.54) !important;
  font-size: 1.5vw !important;
  line-height: 2.5vw !important;
  letter-spacing: normal !important;
}

.center .photo_min.medium.full-width.rouge.hero4.contain.light-blue {
  background-color: #EBF2FD !important;
  background-size: 45% !important;
  max-height: 50vw !important;
  height: 50vw !important;
  background-position-x: 50% !important;
  /* background-color: transparent !important;
  background-size: cover !important; */
}
.center .photo_min.medium.full-width.rouge.hero4.contain.light-blue.largo {
  background-size: 75% !important;
}

.center .photo_min.medium.full-width.rouge.hero4.contain.dark-blue {
  background-color: #f5f7fb !important;
  background-size: 45% !important;
  max-height: 50vw !important;
  height: 50vw !important;
  background-position-x: 50% !important;
  background-size: contain !important;
}

.center .photo_min.medium.full-width.rouge.hero4.contain.pink {
  background-color: #F8EBF0 !important;
  background-size: 70% !important;
}

.center .photo_min.medium.full-width.rouge.hero4.contain.slate {
  background-color: #f5f7fb !important;
  background-size: 65% !important;
  background-position: 58% -7vw !important;
}

.center .photo_min.medium.full-width.rouge.hero4.contain.red {
  background-color: #E36565 !important;
  background-size: 45% !important;
  background-position-y: 13% !important;
}

.full-width > .filler_link {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  float: left;
  width: 101%;
  z-index: 222222;
  -webkit-border-radius: .7vw;
  border-radius: .7vw;
  -moz-border-radius: .7vw;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.white-links.show.ftr_wrap,
.full-width + .photo_min.anim_box_3.disable {
  display: none !important;
}

.full-width.hero4 + .photo_min.anim_box_3.disable {
  display: block !important;
}

.fadeIn.disable {
  pointer-events: none;
}

.full-width .box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
  margin-top: 40vw !important;
}

/* .full-width + .medium + .introduction,
.full-width + .xmedium + .introduction {
  margin-top: 0 !important;
} */

.full-width .photo_min.smaller,
.full-width .photo_min.medium {
  background-size: contain !important;
}

/* Link stuff */

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */

/* a,a:visited,a:hover,a:active{
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
position:relative;
transition:0.3s color ease-in;
text-decoration:none;
color:#000;
font-size:2.5em;
} */
a:hover{
  color:#000 !important;
}
a.before:before,a.after:after{
  content: "";
  transition:0.3s all ease-in;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:0em;
}
a.after:after{
  bottom:0em;
}
a.before:before,a.after:after{
  height:1px;
  /* height:0.15rem; */
  width:0;
  background:#000;
}
a.first:after{
  left:0;
}
a.second:after{
  right:0;
}
a.third:after,a.sixth:before,a.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
}
a.fourth:before,a.fourth:after{
  left:0;
}
a.fifth:before,a.fifth:after{
  right:0;
}
a.seventh:before{
  right:0;
}
a.seventh:after{
  left:0;
}
a.eigth:before{
  left:0;
}
a.eigth:after{
  right:0;
}
/* a.before:hover:before,
a.after:hover:after{
width:calc(80%) !important;
}
.floaty-wrap a.before:hover:before,
.floaty-wrap a.after:hover:after{
width:calc(10%) !important;
} */
.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size:2.5em;
  overflow:hidden;
}
.square a{
  position:static;
  font-size:100%;
  padding:0.2em 0.4em;
}
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.35rem;
  height:0;
  background:#d73444;
}
.square:before{
  left:0;
  bottom:-0.2em;
}
.square.individual:before{
  transition-delay:0.6s;
}
.square:after{
  right:0;
  top:-0.2em;
}
.square.individual:after{
  transition-delay:0.2s;
}
.square a:before{
  left:0;
  transition:0.25s all ease;
}
.square a:after{
  right:0;
  transition:0.25s all ease;
}
.square.individual a:after{
  transition:0.25s all ease 0.4s;
}
.square:hover:before,.square:hover:after{
  height:calc(100% + 0.4em);
}
.square:hover a:before,.square:hover a:after{
  width:100%;
}

.white-links > ul li {
  font-size: 16px !important;;
  font-style: normal;
  line-height: 32px;
  font-family: inherit;
}

.white-links > ul li:before {
  margin-right: 20px;
  font: normal normal normal 14px/1 FontAwesome;
}

.intro {
  color: rgba(0,0,0,.54) !important;
  text-align: center;
  font-size: 24px !important;
  line-height: 34px !important;
  font-family: georgia;
  font-style: italic;
}

.intro:before {
  content: " ";
  background-image: url('../img/bitmoji.png');
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  margin-top: -30px;
  text-align: center;
  border-radius: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  /* margin: 0 auto; */
  left: calc(50% - 3vw);
  top: -70px;
}

/*
.roles {
  text-align: left;
}

.roles li {
  display: block;
  font-size: 14px !important;
  text-align: left !important;
} */

/* Thumb hovers */

.quotes-block a,
.social-icons a,
.box_in_style_3.box_in_style_4.anim_box_1-5.introduction .maven_b,
.name span,
.horizontal > span,
.details .title,
.floaty-wrap li a,
.fixed-nav .social-icon {
  color: #000 !important;
}

.social-icons a,
#spin {
  color: #aaa !important;
  width: 100%;
}

.project_text .project_snippet {
  opacity: 1;
  /*background: #fff;*/
  /* padding: 2vw 4vw 1vw 4vw !important; */
  /*border-radius: 5vw;
  -moz-border-radius: 5vw;
  -webkit-border-radius: 5vw;*/
  letter-spacing: normal;
  /*box-shadow: 0 2px 20px rgba(0,0,0,.1);
  -moz-box-shadow: 0 2px 20px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 2px 20px rgba(0,0,0,.1);*/
  box-shadow: none;
  /* font-size: 2vw; */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  position: relative;
  margin: 0 auto;
  bottom: auto;
  background: none !important;
  /* width: 90%;
  height: 88%; */
  width: 100%;
  height: 100%;
  /* font-size: 28px !important; */
  font-family: inherit !important;
  line-height: 24vh !important;
  font-weight: 600 !important;
  /* font-family: 'Nunito Sans', sans-serif !important; */  font-family: 'Quicksand', 'Helvetica', sans-serif !important;
}
/*.project_text {
display: inline-block;
}*/
/* .project_snippet .project_snippet {
  font-size: 1vw;
  font-style: italic;
  position: relative;
  background: none !important;
  margin-top: 1vw;
  position: absolute;
} */

.project_text .project_snippet:after {
  content: 'see more' !important;
  left: calc(50% - 3vw);
  display: block;
  font-size: 1.3vw;
  position: absolute;
  margin: 0 auto;
  bottom: 14vh !important;
  color: rgba(255,255,255,0.54);
  display: none;
  /*padding: 2vh 2vw !important;*/
  /*padding: 1.1vw 1.4vw !important;*/
}

.project_text.cap_label .project_snippet:after {
  content: '' !important;
}


/*.scrim {
background: #fafafa !important;
z-index: 3333333333 !important;
}*/

.project_text .project_snippet .fa {
  display: none !important;
}

span.txt-rotate .wrap {
  /* font-family: 'Nunito Sans', sans-serif !important; */
  font-family: 'Quicksand', 'Helvetica', sans-serif !important;
  font-weight: 600 !important;
}

.zoom {
  /*box-shadow: 0 2vw 4vw rgba(0,0,0,.06) !important;
  -moz-box-shadow: 0 2vw 4vw rgba(0,0,0,.06) !important;
  -webkit-box-shadow: 0 2vw 4vw rgba(0,0,0,.06) !important;*/
}

.project_snippet.dropOut {
  /* margin-bottom: 1.8vw !important; */
  /* bottom: calc(50% - 10px); */
  padding: 2.5vw 4vw 1vw 4vw !important;
  line-height: 10vw !important;
  opacity: 1 !important;
  background: #000 !important;

  /* animation: box_anim 1200ms cubic-bezier(0.190, 1.000, 0.220, 1) forwards;
  -webkit-animation: box_anim 1200ms cubic-bezier(0.190, 1.000, 0.220, 1) forwards; */

  /* animation: box_anim 1200ms cubic-bezier(0.190, 1.000, 0.220, 1) forwards;
  -webkit-animation: box_anim 1200ms cubic-bezier(0.190, 1.000, 0.220, 1) forwards;
 */

 /* margin-top: -60px !important; */
}

.float-left .project_text .project_snippet {
  letter-spacing: normal !important;
  padding: 8vw !important;
  /*padding: 2vh 2vw !important;*/
  /*padding: 1.1vw 1.4vw !important;*/
}

.float-left .project_text .project_snippet #spin.fa.fa-dribbble {
  /*padding: 5px 2px !important;*/
  /*padding: 0 0 !important;*/
  color: #fff !important;
}

.float-left .project_text .project_snippet.dropOut {
  /*margin-bottom: 1.8vw !important;*/
  /*bottom: calc(50% - 10px);*/
  /* padding: 1.8vw 2vw !important; */
  opacity: 1;
}

.photo_min {
  /*box-shadow: 0 1vh 15vw rgba(0,0,0,.1) !important;*/
  /*-webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;*/
}

/* Hide show large thumbs */

ul#filter-cat {
  width: 100%;
  margin: 0;
  /* padding: 0 0 4vw 0 !important; */
  /* position: absolute; */
  text-align: center;
  line-height: 55px;
}

ul#filter-cat.fixed-filter {
  position: fixed;
  top: 0;

}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.pinning.fixed-filter {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5.5vw 0 !important;
  z-index: 1;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.first.expand-filters.expanded {
  margin-top: 100px !important;
}

ul#filter-cat li {
  display: inline;
}

ul#filter-cat li a {
  padding: 20px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 10px 20px;
  border: solid 1px #fff;
  color: #999 !important;
  /*font-weight:*/ normal;
  /* font-family: 'Helvetica', 'sans-serif'; */
  letter-spacing: normal;

  -webkit-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
   -moz-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
     -o-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
        transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
     -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
        transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

ul#filter-cat li.active a  {
  border: solid 1px #e5e5e5;
  color: #000 !important;
  box-shadow: none !important;
}

ul#filter-cat li a:hover {
  color: #000 !important;
  background: #fff;
  box-shadow: 0 2px 20px rgba(0,0,0,.1);
  -moz-box-shadow: 0 2px 20px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 2px 20px rgba(0,0,0,.1);
}

ul#filter-cat li a:active {
  border: solid 1px #e5e5e5;
  box-shadow: 0 0 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,.1);
}

.photo_min.fadeIn {
  display: block !important;
}

.photo_min.fadeOut {
  display: none !important;
}

.quote_avatar {
  display: none !important;
}


.center .photo_min.medium.full-width.rouge.hero4.extra.medium {
    background-size: 70% !important;
    max-height: 50vw !important;
    height: 50vw !important;
    /* margin: 12vw 0 !important; */
  }

  .center .photo_min.medium.full-width.rouge.hero4.extra.small {
      background-size: 72% !important;
      max-height: 55vw !important;
      height: 25vw !important;
    }



/* labels for non interactive images */

.label .project_text {
  opacity: 1;
  bottom: 14vw;
}

.label .project_text .project_snippet {
  opacity: 1;
  box-shadow: none !important;
  background: none;
  font-size: 1vw;
  color: rgba(0,0,0,.54) !important;
  /*font-family: 'Helvetica', 'sans-serif' !important;*/
  text-transform: none !important;
  display: none;
}

/* Nav stuff */

.intro-links.mobile-links {
  background: #000;
}

.intro-links.mobile-links.bg_color {
  background: #111 !important;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */ */
}

.intro-links li a {
  text-transform: none;
  letter-spacing: inherit !important;
  font-size: 4vh;
  /* font-family: 'Nunito Sans', sans-serif !important; */  font-family: 'Quicksand', 'Helvetica', sans-serif !important;
  color: rgba(255,255,255,.54) !important;
}

.intro-links.mobile-links:active {
  background: #111 !important;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */ */
}

.quote_avatar .fa {
  pointer-events: none;
  box-shadow: none !important;
}

.quote_avatar .fa::before {
  font-size: 3vw;
}


/* Details */

.maven_b.clients span.section,
.logo.text,
.details .title,
.floaty-wrap li,
.floaty-wrap li a {
  /*font-size: large;
  line-height: 5vw;*/
  font-size: 18px;
  line-height: 3rem;
  letter-spacing: normal !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skillz > .floaty-wrap li,
.skillz > .floaty-wrap li a {
  line-height: 3.5rem;
  margin-bottom: 40px;
}

.details li {
  color: #353535 !important;
}

/* .maven_b.clients span.section {
color: rgba(0,0,0,.54) !important;
} */

.maven_b.clients span.section,
.details li.title {
  color: rgba(0,0,0,.54) !important;
}

/* .maven_b.clients span.section.black{
  color: rgba(0,0,0,.54) !important;
} */

/* Hero grey styling */

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything:after {
	content: '';
	display: block;
	position: absolute;
	background-color: #000;
	opacity: 0.54;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -55;
  display: none;
}


#top-of-work + .maven_b.clients span.section.black {
  color: rgba(0,0,0,.54) !important;
  text-align: left;
  margin: 0 !important;
}

#top-of-work + .maven_b.clients span.section.black:after {
  background: rgba(0,0,0,.54) !important;
}

#top-of-work + .maven_b.clients span.section {
  color: rgba(255,255,255,.54) !important;
}

#top-of-work + .maven_b.clients span.section:after {
  background: rgba(255,255,255,.54) !important;
}

/* black canvas on load */

body.black-canvas {
  -webkit-transition: all 3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: all 3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -ms-transition: all 3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: all 3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

/* .maven_b.clients + div {
padding-top: 40px !important;
} */
/*
.roles {
  margin: 0 auto !important;
  width: 100%;
  text-align: center;
  padding-bottom: 8vw;
}

.roles li {
  display: inline !important;
  margin: 0 20px;
  font-weight: bold;
  font-size: 14px !important;
  text-transform: lowercase;
  text-align: center !important;
  border: solid 1px #e5e5e5;
  border: 1px solid #e5e5e5;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px 15px;
} */

.roles {
  display: inline-block;
  position: relative;
  display: none;
}

.roles + hr {
  display: none;
}

.roles li span {
  font-family: sans-serif !important;
  font-weight: bold !important;
  position: relative;
}

.roles li {
  font-style: normal;
  line-height: 7vw !important;
  font-family: inherit;
  float: left;
  text-align: center;
  width: 20%;
}

.roles .fa {
  border: 2px solid rgba(0,0,0,0.1);
  width: 68px;
  height: 68px;
  text-align: center;
  margin: 0 auto;
  border-radius: 90px;
}

.roles .fa:before {
  /* background:rgba(0,0,0,0.05); */
  text-align: center;
  top: 20px;
  position: relative;
  font-size: 24px !important;
}

.arrow {
  /* pointer-events: none; */
}

.arrow.hide {
  opacity: 0;

  -webkit-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
     -moz-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
       -o-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
          transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

  -webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
     -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
       -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
          transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

iframe {
  border: none;
  width: 100%;
  height: 45vw;
}

/* .mobile-links li:last-child {
position: absolute;
top: 0;
left:0;
right: 0;
width: 100% !important;
height: 100%;
background-size: cover !important;
} */

.mobile-links iframe {
  position: absolute;
  top: 0 !important;
  left: 0;
  width: 100% !important;
  height: 70%;
  opacity: 0.15;
  z-index: 0;
  background-size: cover !important;
}

.view-work {
  /* display: flex; */
  margin: 0 auto;
  width: 100%;
}

.view-work li {
  margin-right: 30px;
  margin: 0 auto;
}

#top-section {
  padding-top: 50px;
}

#top-section + .anim_box_3.full-width {
  opacity: 0 !important;
  margin-top: 80px;
}

#top-section + .anim_box_3.full-width.anim {
  opacity: 0 !important;
  margin-top: 80px !important;
  background-size: cover !important;
  height: 90vw !important
}

#top-section + .anim_box_3.full-width.anim_1 {
  opacity: 1 !important;
  margin-top: 0 !important;
  background-color: #fafafa !important;
}


/* Gradients */

/* .gradient,
.body_link {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.bluey,
.body_link {
  background: #DA4453;
  font-weight: 600 !important;
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);
  background: linear-gradient(to right, #89216B, #DA4453);

} */

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction .maven_b.white {
  color: #fff !important;
  font-size: 38px !important;
  line-height: 40px !important;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction .maven_b.home-white,
#top-of-work + .maven_b {
  color: #000;
  font-size: 38px !important;
  line-height: 40px !important;
}

.bio .txt-rotate > .wrap {
  border-right: 0.05em solid #fff !important;
}

/* #top-of-work + .maven_b {
  font-size: 60px !important;
  line-height: 70px !important;
} */

/* .dark-bluey {
background: #1488CC;
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
background: linear-gradient(to right, #2B32B2, #1488CC);

}

.pinky {
background: #ee0979;
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
background: linear-gradient(to right, #ff6a00, #ee0979);
}

.redy {
background: #EB3349;
background: -webkit-linear-gradient(to right, #F45C43, #EB3349);
background: linear-gradient(to right, #F45C43, #EB3349);
}

.purply {
background: #673AB7;
background: -webkit-linear-gradient(to right, #512DA8, #673AB7);
background: linear-gradient(to right, #512DA8, #673AB7);
}

.tealy {
background: #56ab2f;
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
background: linear-gradient(to right, #a8e063, #56ab2f);
} */

/* other background styles */


/* .anim,
.anim_1 {
opacity: 1 !important;
} */

/* .photo_min.anim_box_3.black-float {
background-image: no-repeat !important;
background-size: cover !important;
height: 30vw !important;
overflow: hidden !important;
} */


/*
.anim_box_3.black-float.blue {
background: #1488CC !important;
}

.anim_box_3.black-float.green {
background: #08A159 !important;
}

.anim_box_3.black-float.red {
background: #FF8D36 !important;
}

.introduction .maven_b.clients.hide.gradient {
color: #fff !important;
}

.anim_box_3.black-float .maven_b.clients {
float: left;
width: auto;
text-align: left !important;
height: auto !important;
margin-left: 0;
color: #fff !important;
padding: 5vw;

}
*/
.project_text .cap_label .project_snippet {
  font-size: 4.2vw;
  text-transform: normal;
  float: right;
  background-color: rgba(0,0,0,.07);
  border-radius: 100%;
  overflow: hidden;
  width: 5vw;
  height: 5vw;
  margin: 0 0 2vw 2vw;
  border-radius: 100%;
  border: 3px solid rgba(255,255,255,1);
  color: #fff;
  opacity: 1 !important;
  z-index: 33333333;
  overflow: hidden;
  position: fixed;
  /* font-weight: 500 !important; */
}

.project_text.cap_label .project_snippet {
  color: rgba(255,255,255,1) !important;
  z-index: 3333333333 !important;
  text-transform: none !important;
  position: fixed;
  opacity: 1 !important;
  /* font-size: 28px !important;
  line-height: 36px !important; */
  text-align: center;
  padding: 4vw;
  font-weight: inherit !important;
}

/* .fixed-nav.avatary + .photo_min.box_style_2.disable.black-float .project_text.cap_label .project_snippet {
  position: relative !important;
} */

.homepage > .photo_min.box_style_2.disable.black-float.testimonial {
  height: 45vmax !important;
}

.homepage > .photo_min.box_style_2.disable.black-float.testimonial .scrim {
  background: #000 !important;
}

.black-float.testimonial .cap_label:after {
  content: "- Google Maps UX Colleague";
  position: absolute;
  left: calc(50% - 7.5vw);
  top: calc(50% + 9vw);
  color: #fff;
  z-index: 22;
  display: none;
}

.black-float .project_text .scrim {
  /* display: none; */
  position: fixed;
  opacity: 1;
  left: 0;
  top: 0;
  /* border-radius: 8px; */
  /* -webkit-border-radius: 8px; */
  /* -moz-border-radius: 8px; */
  background-size: cover !important;
  filter: brightness(30%);
  -webkit-filter: brightness(25%);
  -moz-filter: brightness(25%);
  /* height: 100%; */
  /* background: #fff !important; */
  /* z-index: -4; */
  /* filter: brightness(100%) opacity(0.20); */
}

.anim_box_3.black-float .maven_b.clients > .white-links {
  color: #fff !important;
  margin-top: 2vw;
  float: none;
  text-align: left !important;
}

.hide.white + .white-links.center {
  opacity: 0;
}

/* Rotating home text */

h1,h2,
.box_in_style_3.box_in_style_4.anim_box_1-5.introduction .maven_b,
.quotes-block .white-links a,
.title_box_in_style_3.title_box_in_style_4.maven_b.clients.hide.gradient {
  font-size: 26px !important;
  line-height: 36px !important;
  font-weight: 600 !important;
  /* font-family: 'Nunito Sans', sans-serif !important; */
  font-family: 'Quicksand', 'Helvetica', sans-serif !important;
}

.quotes a {
  color: #fff !important;
}

/* h1 { font-size: 3.5em; } */
h2 {
  /* color: #888;
  font-size: 2em; */
}

.container_box#content > .box_in_style_3.box_in_style_4.anim_box_1-5.introduction.main_block.show.center.quotes-block {
  height: auto;
}

/* .maven_b.snip {
margin: 4vw 0 2vw 0 !important;
} */


.gradient.bluey.snip {
  overflow: visible !important;
  -webkit-background-clip: none !important;
  /* font-weight: 600 !important; */


}

.photo_min.disable.full-width.blackandwhite.hero7 {
  /* background-size: 200% !important;
  background-position: 0 50% !important; */
  /* background-size: 200% !important; */
  background-position: 0 0 !important;
  height: inherit;
  /* filter:brightness(40%); */
}

/* hr + div + div,
hr + div + div + div {
display: none !important;
opacity: 0 !important;
}

hr + div + div.anim,
hr + div + div + div.anim {
display: block !important;
opacity: 1 !important;
} */

/* .introduction + .photo_min,
.introduction + .photo_min + .photo_min {
display: none !important;
}

.introduction + .photo_min.anim,
.introduction + .photo_min.anim + .photo_min.anim {
display: block !important;
} */

/* .client-wrap {
-webkit-transition: all 0.5s cubic-bezier(0.500, -0.010, 0.000, 1.005);
-moz-transition: all 0.5s cubic-bezier(0.500, -0.010, 0.000, 1.005);
-o-transition: all 0.5s cubic-bezier(0.500, -0.010, 0.000, 1.005);
transition: all 0.5s cubic-bezier(0.500, -0.010, 0.000, 1.005);
display: none !important;
} */

.introduction.client-wrap.first.short {
  /* padding-top: 6vw !important; */
  /* padding-bottom: 0 !important; */
  padding-top: 12vw !important;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.client-wrap.half-panel {
  padding-bottom: 6vw !important;
  width: 50%;
  float: left;
  margin-right: 0 !important;
  padding-right: 6vw !important;
  padding-top: 6vw !important;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.client-wrap.half-panel .clients {
  width: 110%;
  /* padding-right: 12vw !important; */
}

/* .box_in_style_3.box_in_style_4.anim_box_1-5.introduction.client-wrap.half-panel + div {
  box-shadow: inset 0 0 0 3px #fff;
  -moz-box-shadow: inset 0 0 0 3px #fff;
  -webkit-box-shadow: inset 0 0 0 3px #fff;
} */


/* loader */


@-webkit-keyframes color {
  100%,
  0% {
    stroke: #000;
  }
  40% {
    stroke: #000;
  }
  66% {
    stroke: #000;
  }
  80%,
  90% {
    stroke: #000;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #000;
  }
  40% {
    stroke: #000;
  }
  66% {
    stroke: #000;
  }
  80%,
  90% {
    stroke: #000;
  }

}

/* Featured and client sections */

.floaty-wrap li a {
  color: rgba(0,0,0,.54) !important;
}

.floaty-wrap .fa:before {
  /* border: solid 1px #e5e5e5;
  border-radius: 80px;
  padding: 15px;
  width: 48px !important;
  height: 48px !important; */
  /* display: none; */
}

.feature-set .fa,
.client-set .fa {
  margin: 0 auto;
  height: 65px;
  width: 65px !important;
}

.fa.tonight-show {
  content: url('../img/ic_tonight-show.svg') !important;
}

.fa.designers {
  content: url('../img/ic_designers.svg') !important;
}

.fa.today-show {
  content: url('../img/ic_todayshow.svg') !important;
}

.fa.uxdesign {
  content: url('../img/ic_uxdesign.svg') !important;
}

.fa.superg {
  content: url('../img/ic_superg.svg') !important;
}

.fa.dash {
  content: url('../img/ic_dash.svg') !important;
}

.fa.ueno {
  content: url('../img/ic_ueno.svg') !important;
}

.fa.zippo {
  content: url('../img/ic_zippo.svg') !important;
}

.fa.aiga {
  content: url('../img/ic_aiga.svg') !important;
}

.fa.gsv {
  content: url('../img/ic_gsvlabs.svg') !important;
}

.arrow {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  left: 0 !important;
  top: 70vh !important;
  opacity: 1 !important;
}

.arrow.bounce.home-arrow {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  left: -34% !important;
  top: calc(100% - 160px) !important;
  opacity: 1 !important;
}

.arrow.bounce.home-arrow a.fa {
  color: #fff !important;
}

#top-of-work + div > span.section:before {
  content: url(../img/ic_superg.svg) !important;
  width: fit-content;
  margin: 0 auto;
  background: #fff;
  border-radius: 100%;
  padding: 70px;
  /* position: absolute; */
  /* height: 120px; */
  /* background-size: 48px; */
  display: block;
  /* width: 120px; */
  /* background-size: 5% !important; */
  zoom: .15;
  margin-top: -12vw;
}

#top-of-work + div > span.section.hide:before {
  display: none !important;
}

#top-of-work + a > .fa.superg {
  content: url(../img/ic_superg.svg) !important;
  width: 48px;
  margin: 0 auto;
  background: #fff;
  border-radius: 100%;
  padding: 10px;
}

.arrow a.fa {
  color: #fff !important;
  z-index: 111;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.problem.hide {
  padding-top: 6vw;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


/* Everything mobile */


@media (-webkit-min-device-pixel-ratio: 1) and (min-width: 1460px) {

  .box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
      padding: 10vmax 20% 12vmax 20% !important;
  }

  .homepage > .photo_min.box_style_2.disable.black-float {
      height: 62vh !important;
  }

  .arrow {
    top: 52vh !important;
  }


/*
.center .photo_min.medium.full-width.rouge.hero4.extra.medium {
    height: 30vw !important;
  }

  video.medium.full-width.hero4 {
      margin-top: 6vw !important;
    }

  .box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
    padding: 10vmax 25% !important;
  }

  .center .photo_min.medium.full-width.rouge.hero4,
  .center .photo_min.medium.full-width.rouge.hero4.extra.medium {
    background-size: 50% !important;
  }

  .center .photo_min.medium.full-width.hero4,
  .homepage .box_style_2,
  .homepage .box_style_2.disable.black-float {
    height: 30vw !important;
  }

  .project_snippet.dropOut {
    line-height: 10vw !important;
  }

  .project_snippet.dropOut:after,
  .project_text .project_snippet:after {
    display: none !important;
    opacity: 0 !important;
  } */

}


@media (-webkit-min-device-pixel-ratio: 1) and (max-width: 1024px) {

  .photo_min.disable.full-width.blackandwhite.hero7 {
    background-size: cover !important;
    background-position: 0 50% !important;
  }

  #top-of-work + .maven_b,
  .maven_b.clients.skills.gradient.bluey.snip,
  #homey .maven_b {
    font-size: 40px !important;
    line-height: 46px !important;
  }

  .social-icons.upper_nav,
  .title_box_in_style_3.maven_b,
  .title_box_in_style_3.maven_b + div,
  .center .photo_min.xmedium.anim_box_3.black-float .maven_b.clients,
  .name span {
    font-family: inherit !important;
    line-height: 32px !important;
    /* text-align: left !important; */
  }

  h1,h2,
  .box_in_style_3.box_in_style_4.anim_box_1-5.introduction .maven_b.home-white,
  #top-of-work + .maven_b,
  .box_in_style_3.box_in_style_4.anim_box_1-5.introduction .maven_b.white,
  .title_box_in_style_3.title_box_in_style_4.maven_b.clients.hide.gradient,
  .box_in_style_3.box_in_style_4.anim_box_1-5.introduction .maven_b {
    font-size: 36px !important;
    line-height: 46px !important;
  }

  .box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
    /* padding: 6vw 10vw 7vw 10vw; */
    /* padding: 6vw 12vw 9vw 12vw; */
    /* padding: 4vw 12vw 12vw 12vw; */
    /* padding: 4rem 4rem 8vw 4rem !important; */
    /* padding: 6vw 12vw 18vw 12vw; */
    overflow: hidden;
  }

  .fixed-nav + .fixed-nav + div + div + #top-section {
    padding-top: 13vmax !important;
  }

  .photo_min.xmedium.black-float,
  .center .photo_min.xmedium.black-float {
    height: 30vw !important;
  }

  .project_snippet,
  .photo_min.xmedium.black-float .project_snippet,
  .center .photo_min.xmedium.black-float .project_snippet {
    font-size: 18px !important;
    line-height: 22px !important;
  }

  .photo_min.smaller,
  .photo_min.bars,
  .photo_min.medium,
  .photo_min.small,
  .photo_min.bars {
    background-size: 70% !important;
  }

  .hero7 {
    position: absolute;
    z-index: -1;
    left: 0 !important;
    right: 0 !important;
    padding: 0 !important;
    height: 280px !important;
    /* top: 8vw; */
  }

  .fa {
    font-size: 20px !important;
  }

  .intro-links .links.anim_1 {
    margin-top: 0 !important;
    top: -40vw !important;
  }

  a.ftr-link {
    /* box-shadow: 0 2px 20px rgba(0,0,0,.10); */
    /* box-shadow: 0 2px 20px rgba(0,0,0,0) !important;
    border: 1px solid #e5e5e5; */
    width: 100% !important;
    /* -webkit-box-shadow: 0 2px 20px rgba(0,0,0,.10); */
  }

  /* floaty wrap */

  /*
  .floaty-wrap {
  margin: auto;
  float: none;
  text-align: left;
  width: auto;
}

.floaty-wrap li a {
line-height: inherit !important;
font-size: 20px !important;
}

.skillz > .floaty-wrap {
margin: 0;
width: 100% !important;
}

.skillz .floaty-wrap li {
width: 100% !important;
}

.skillz > .floaty-wrap li,
.skillz > .floaty-wrap li a {
line-height: 3.5rem;
margin-bottom: inherit;
}

.skillz .floaty-wrap a i {
pointer-events: none;
font-size: 32px !important;
float: left;
margin-right: 30px;
line-height: inherit;
font-size: 20px !important;
} */


/* nav */


.quote_avatar {
  padding-bottom: 11vw 0px;
}

.fixed-nav {
  position: fixed;
  left: 0;
  top: auto !important;
  margin: 0;
  height: 0 !important;
  z-index: 999999999;
  /*top: calc(100% - 3vw);*/
  background: #000 !important;
  /* margin: -63px 0 !important; */
  padding: 20px 0 48px 0 !important;
  width: calc(100%);
  /* padding-top: 5vw; */
}

.fixed-nav.anim {
  /*margin-top: 4vw;*/
  /*top: calc(100% - 12vw);*/
  /* bottom: 0 !important; */
}

.fixed-nav.scrolled {
  /*background: #353535*/;
  /*bottom: 0 !important;*/
}

.fixed-nav .social-icon {
  color: #111;
  position: absolute;
  /* padding: .5rem; */
  font-size: 2vw;
  width: 58px;
  /* bottom: 22px; */
  height: 100%;
  top: 0;
  background: rgba(255,255,255,0.1);
  border-radius: 0;
}

.fixed-nav.anim.shadow {
  /*box-shadow: none !important;*/
  /*height: 0 !important;*/
}

/*.fixed-nav + .fixed-nav {
zoom: 3;
}*/

.fixed-nav .logo.trigger.bitmoji,
.fixed-nav + .fixed-nav > .bitmoji.nav {
  zoom: 0 !important;
  display: block;
  left: calc(50% - 25px) !important;
  width: 48px !important;
  height: 48px !important;
}

.fixed-nav .logo.trigger.bitmoji.anim_1 {
  /* background: none; */
  /*top: -45px !important;*/
}

.fixed-nav.avatary {
  position: fixed;
  top: calc(100% - 10vw);
}

.fixed-nav .next {
  /* right: 4vw; */
  /*text-indent: 0;*/
}

.fixed-nav .prev {
  /* left: 4vw; */
  /*text-indent: 0;*/
}

.fixed-nav .trigger.logo.bitmoji,
.quote_avatar img {
  /*width: 70px;*/
  /*width: 60px;*/
  margin-bottom: 0;
  zoom: 5;
  top: auto !important;
  bottom: 0.7rem !important;
  /*zoom: 1.6 !important;*/
}

.fixed-nav + .fixed-nav {
  box-shadow: 0 4px 20px rgba(0,0,0,.1);
  -moz-box-shadow: 0 4px 20px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 4px 20px rgba(0,0,0,.1);
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.client-wrap.half-panel,
.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.client-wrap.half-panel + div {
  padding-bottom: 6vw !important;
  width: 100% !important;
  float: none;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.client-wrap.half-panel + div {
  height: 80vw !important;
  padding-top: 0 !important;
}

.half-panel.hide,
.photo_min.hide,
.after.hide,
.problem.hide,
.source_r.white-links.center.hide,
.featured,
.social-icons.upper_nav,
.more,
.center .photo_min.medium.full-width.hero4.hide,
.full-width.hero4 + .photo_min.anim_box_3.disable.more.hide,
.intro-links.mobile-links li:first-child,
.quotes-block,
.homey .subby > a.ftr-link,
.center .photo_min.full-width.hero7,
#top-of-work + div > span.section:before {
  display: none !important;
}

a.ftr-link {
  position: relative !important;
}

/* .black-float {
height: 1px !important;
border-bottom: 1px solid #e5e5e5 !important;
} */

.ftr_wrap {
  padding-bottom: 68px !important;
}

.hide.gradient + .source_r.white-links {
  opacity: 0 !important;
}

.full-width + .photo_min.anim_box_3.disable + .box_in_style_3.box_in_style_4.anim_box_1-5.introduction.client-wrap.anim {
  /* padding: 1rem 4rem 4rem 4rem !important */
  padding-top: 0;
}

/* filter-cat */

.contact {
  padding-top: 12vw !important
}

/* .clients + div + div {
  padding: 40px 0 0 0;
} */


#top-section {
  padding-top: 50px;
  /* margin-top: -60px !important; */
}

.project_text.cap_label .project_snippet {
  font-size: 6vmin !important;
  padding: 0 10vw !important;
  line-height: inherit !important;
  /* font-family: 'Nunito Sans', sans-serif !important; */  font-family: 'Quicksand', 'Helvetica', sans-serif !important;
}

/* .homepage .box_style_2 {
  box-shadow: 0 0 0 5px #fff;
  -moz-box-shadow: 0 0 0 5px #fff;
  -webkit-box-shadow: 0 0 0 5px #fff;
} */

a.ftr-link.anim_1 {
  position: absolute;
  left: 0;
}

.introduction .white-links {
  padding: 20px 0 0 0;
}


/* .gradient + div {
padding: 15px 0 0 0 !important;
} */

.feature-set .fa,
.client-set .fa  {
  width: 48px !important;
  height: 48px !important;
  margin-top: 18px;
  /* display: none !important; */
}

.feature-set ul,
.client-set ul,
.feature-set ul li,
.client-set ul li, {
  float: none !important;
  margin: inherit !important;
}

.subby + .white-links.show {
  /* text-align: left; */
  margin: 0 auto;
}

.intro-links.mobile-links.show-nav {
  /*padding-top: 15vw;*/
  height: calc(100% - 67px) !important;
  padding: 15vw !important;
  z-index: 9999999999 !important;
  /* min-height: 70%; */
  /* opacity: 1 !important; */
  /* padding: 55% 15vw !important; */
  /* top: 0; */
}

.intro-links.mobile-links.show-nav > ul {
  top: calc(50% - 150px);
  padding: 0 15vw !important;
  /* position: relative; */
  position: absolute;
  margin: 0 auto;
  /* left: 50%; */
  left: 0;
  width: 100%;
}

.intro-links.mobile-links li {
  line-height: 4rem;
  /* text-align: left !important */
}

.social-icon i {
  background: none !important;
}

/* @element '.main_block' and (min-children: 1) {
$parent { padding: 0 !important }
} */

.main_block.show {
  padding: 0 !important;
  margin: 0 !important;
}

a.ftr-link {
  padding: 15px 0 !important;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}

.skillz > .floaty-wrap li,
.skillz > .floaty-wrap li a {
  margin-bottom: 0;
}

.skillz > .floaty-wrap {
  margin: 0;
  width: 33% !important;
  min-width: 33%;
}

/* .floaty-wrap li a {
color: #fff !important;
} */

.floaty-wrap li a:after {
  color: #000 !important;
}

.hide.white + .white-links.center {
  opacity: 0;
  display: none;
}

.anim_box_3.black > div > .title_box_in_style_3.maven_b + div {
  display: none !important;
}

.anim_box_3.black > div .title_box_in_style_3.maven_b.clients.skills {
  margin-top: 9.5vw;
}

.subby + .white-links.show, .social-icons.upper_nav, .title_box_in_style_3.maven_b + div {
  width: 100%;
}

.title_box_in_style_3.maven_b + .footer-social-icons {
    height: 14vh !important;
}

/* .title_box_in_style_3.maven_b + div {
  padding: 0 !important;
} */

.title_box_in_style_3.maven_b + div + div {
  margin-top: 4vw !important;
}

.quotes {
	position: relative;
}

a.ftr-link.anim_1 {
  margin-top: 8vw !important;
}

/* .box_in_style_3.box_in_style_4.anim_box_1-5.introduction .maven_b.white {
  font-size: 5vw !important;
  line-height: 8vw !important;
} */

a.ftr-link:after {
  /*color: #353535 !important;*/
  /* border: solid 2px rgba(0,0,0,.10); */
  /* content: ''; */
    content: '';
    color: #fff;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
    padding: 12vmax 15% !important;
}

.center .photo_min.full-width.hero7 {
  height: 38vmax !important;
  min-height: 3%;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything.anim > .details.anim.anim_1:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -33;
  background: rgba(0,0,0,0.7);
  pointer-events: none;
}

.black-everything .maven_b.homewhite,
 #top-of-work + .black-everything .maven_b.clients {
	color: #fff !important;
}

.social-icons .fa, .fixed-nav .fa {
    top: calc(100% - 42px);
    left: calc(100% - 32px);
}

.logo.bitmoji.nav {
  height: 60px;
  width: 60px;
  position: fixed;
  z-index: 9999999999999;
  top: auto !important;
  /* box-shadow: 0 0 0 4px #fff;
  -moz-box-shadow: 0 0 0 4px #fff;
  -webkit-box-shadow: 0 0 0 4px #fff; */
  /* border: solid #dedede 1px !important; */
}

.logo.bitmoji.nav.anim_1 {
  /* margin-top: 0 !important; */
  bottom: auto !important;
  opacity: 1 !important;
  position: absolute;
  z-index: 999999999;
  top: 20px !important;
  /* left: 20px; */
}

.box_in_style_4.main_block.anim_box_1-5.roles {
  padding: 10vw 10% 20vw 10% !important;
}

.box_in_style_4.main_block.anim_box_1-5.roles .fa {
  border: 0 solid rgba(0,0,0,0.1);
}

/* span.section.openline {
  left: 0 !important;
} */

span.section.openline:after {
  width: 40px !important;
  display: none;
}

/* Thumbs on mobile */

.project_text .project_snippet {
    margin: 0 auto;
    bottom: auto;
    background: none !important;
    opacity: 1 !important;
    color: rgba(0,0,0,0);
    margin-top: 0 !important;
}

.project_text .project_snippet:after {
  content: 'more' !important;
  left: auto;
  top: calc(100% - 11vw);
  opacity: 1;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  /* padding: 2vh 2vw !important; */
  /* padding: 1.1vw 1.4vw !important; */
  right: 3vw !important;
  bottom: 0 !important;
  /* text-shadow: 0 0 100px rgba(0,0,0,1); */
  mix-blend-mode: difference;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  text-align: right;
}

/* .fixed-nav .show-cases.social-icon {
	left:  calc(50%) !important;
} */

.case-study-nav.show-case-nav {
	bottom: 68px !important;
  opacity: 1;
  z-index: 222222222;
}

.case-study-nav span {
  color: #fff;
  position: absolute;
  top: 25px !important;
  left: 20px;
  opacity: 1 !important;
  height: 140px;
}

.fixed-nav span.show-cases.social-icon.shift_arrow {
	margin-top: 0;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything.anim {
  background-position: center center !important;
}

#big-b + .container_box > .box_in_style_3.box_in_style_4.anim_box_1-5.introduction.black-everything {
  padding: 23% 15% !important;
}

.photo_min.label,
.photo_min.fadeIn ,
.photo_min.reveal {
  width: 100% !important;
  height: 70vw !important;
  float: none !important;
  margin: 1vw 0 !important;
}

.white-links > ul li {
    height: 48px;
    overflow: hidden;
}

span.section:after {
  left: 15% !important;
}

.box_in_style_3.box_in_style_4.anim_box_1-5.introduction {
    padding: 10vmax 15% 12vmax 15% !important;
}

.center .photo_min.medium.full-width.hero4 {
  pointer-events: auto;
  /* height: auto !important; */
}

video.photo_min.box_style_2.medium.full-width.hero4 {
  /* transform: scale(1.8);
  background-position: top center !important;
  margin: 20vw 0 !important;
  overflow: hidden; */
  height: 70vw !important;
}

.homepage .box_style_2.disable.black-float {
    height: inherit !important;
    padding: 0 0 40vw 0 !important;
}

.homepage > .photo_min.box_style_2.disable.black-float {
    /* height: 40vh !important; */
    /* padding: 12vw 0 !important; */
}

.homepage > .photo_min.box_style_2.disable.black-float.testimonial {
  height: 50vmax !important;
  background: #000;
}

.homepage > .photo_min.box_style_2.disable.black-float.testimonial .project_text .scrim {
  background-image: #000;
}

.homepage > .photo_min.box_style_2.disable.black-float.testimonial .project_text .project_snippet {
  font-size: 26px !important;
  line-height: 32px !important;
  text-align: left;
}


.logo.text {
  z-index: 333333333 !important;
  margin-top: 20px !important;
}

.homepage > .photo_min.box_style_2.disable.black-float {
    height: 66vh !important;
}

.arrow {
  top: 70vh !important;
}

.homepage > .photo_min.box_style_2.disable.black-float .project_text .project_snippet {
    font-size: 46px !important;
    line-height: 56px !important;
}

/* Thumb images in detail views */
.center .photo_min.medium.full-width.hero4 {
    height: 100vw !important;
}

.center .photo_min.medium.full-width.hero4.contain {
    height: inherit !important;
}


/* .homepage .box_style_2.disable.black-float span,
.homepage .box_style_2.disable.black-float .project_text.cap_label .project_snippet {
    padding: 12vw 15% !important;
} */

/* .title_box_in_style_3.maven_b + div {
    width: 100%;
    float: none;
}

.title_box_in_style_3.maven_b + div + div {
  margin-top: 6vw !important;
} */

}
